@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-Light/Cormorant-Light.eot');
    src: local('Cormorant Light'), local('Cormorant-Light'),
    url('../fonts/Cormorant-Light/Cormorant-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cormorant-Light/Cormorant-Light.woff2') format('woff2'),
    url('../fonts/Cormorant-Light/Cormorant-Light.woff') format('woff'),
    url('../fonts/Cormorant-Light/Cormorant-Light.ttf') format('truetype'),
    url('../fonts/Cormorant-Light/Cormorant-Light.svg#Cormorant-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-SemiBoldItalic/Cormorant-SemiBoldItalic.eot');
    src: local('Cormorant SemiBold Italic'), local('Cormorant-SemiBoldItalic'),
    url('../fonts/Cormorant-SemiBoldItalic/Cormorant-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cormorant-SemiBoldItalic/Cormorant-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/Cormorant-SemiBoldItalic/Cormorant-SemiBoldItalic.woff') format('woff'),
    url('../fonts/Cormorant-SemiBoldItalic/Cormorant-SemiBoldItalic.ttf') format('truetype'),
    url('../fonts/Cormorant-SemiBoldItalic/Cormorant-SemiBoldItalic.svg#Cormorant-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-SemiBold/Cormorant-SemiBold.eot');
    src: local('Cormorant SemiBold'), local('Cormorant-SemiBold'),
    url('../fonts/Cormorant-SemiBold/Cormorant-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cormorant-SemiBold/Cormorant-SemiBold.woff2') format('woff2'),
    url('../fonts/Cormorant-SemiBold/Cormorant-SemiBold.woff') format('woff'),
    url('../fonts/Cormorant-SemiBold/Cormorant-SemiBold.ttf') format('truetype'),
    url('../fonts/Cormorant-SemiBold/Cormorant-SemiBold.svg#Cormorant-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-Bold/Cormorant-Bold.eot');
    src: local('Cormorant Bold'), local('Cormorant-Bold'),
    url('../fonts/Cormorant-Bold/Cormorant-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cormorant-Bold/Cormorant-Bold.woff2') format('woff2'),
    url('../fonts/Cormorant-Bold/Cormorant-Bold.woff') format('woff'),
    url('../fonts/Cormorant-Bold/Cormorant-Bold.ttf') format('truetype'),
    url('../fonts/Cormorant-Bold/Cormorant-Bold.svg#Cormorant-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-MediumItalic/Cormorant-MediumItalic.eot');
    src: local('Cormorant Medium Italic'), local('Cormorant-MediumItalic'),
    url('../fonts/Cormorant-MediumItalic/Cormorant-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cormorant-MediumItalic/Cormorant-MediumItalic.woff2') format('woff2'),
    url('../fonts/Cormorant-MediumItalic/Cormorant-MediumItalic.woff') format('woff'),
    url('../fonts/Cormorant-MediumItalic/Cormorant-MediumItalic.ttf') format('truetype'),
    url('../fonts/Cormorant-MediumItalic/Cormorant-MediumItalic.svg#Cormorant-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-Regular/Cormorant-Regular.eot');
    src: local('Cormorant Regular'), local('Cormorant-Regular'),
    url('../fonts/Cormorant-Regular/Cormorant-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cormorant-Regular/Cormorant-Regular.woff2') format('woff2'),
    url('../fonts/Cormorant-Regular/Cormorant-Regular.woff') format('woff'),
    url('../fonts/Cormorant-Regular/Cormorant-Regular.ttf') format('truetype'),
    url('../fonts/Cormorant-Regular/Cormorant-Regular.svg#Cormorant-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-BoldItalic/Cormorant-BoldItalic.eot');
    src: local('Cormorant Bold Italic'), local('Cormorant-BoldItalic'),
    url('../fonts/Cormorant-BoldItalic/Cormorant-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cormorant-BoldItalic/Cormorant-BoldItalic.woff2') format('woff2'),
    url('../fonts/Cormorant-BoldItalic/Cormorant-BoldItalic.woff') format('woff'),
    url('../fonts/Cormorant-BoldItalic/Cormorant-BoldItalic.ttf') format('truetype'),
    url('../fonts/Cormorant-BoldItalic/Cormorant-BoldItalic.svg#Cormorant-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-LightItalic/Cormorant-LightItalic.eot');
    src: local('Cormorant Light Italic'), local('Cormorant-LightItalic'),
    url('../fonts/Cormorant-LightItalic/Cormorant-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cormorant-LightItalic/Cormorant-LightItalic.woff2') format('woff2'),
    url('../fonts/Cormorant-LightItalic/Cormorant-LightItalic.woff') format('woff'),
    url('../fonts/Cormorant-LightItalic/Cormorant-LightItalic.ttf') format('truetype'),
    url('../fonts/Cormorant-LightItalic/Cormorant-LightItalic.svg#Cormorant-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-Medium/Cormorant-Medium.eot');
    src: local('Cormorant Medium'), local('Cormorant-Medium'),
    url('../fonts/Cormorant-Medium/Cormorant-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cormorant-Medium/Cormorant-Medium.woff2') format('woff2'),
    url('../fonts/Cormorant-Medium/Cormorant-Medium.woff') format('woff'),
    url('../fonts/Cormorant-Medium/Cormorant-Medium.ttf') format('truetype'),
    url('../fonts/Cormorant-Medium/Cormorant-Medium.svg#Cormorant-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-Italic/Cormorant-Italic.eot');
    src: local('Cormorant Italic'), local('Cormorant-Italic'),
    url('../fonts/Cormorant-Italic/Cormorant-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cormorant-Italic/Cormorant-Italic.woff2') format('woff2'),
    url('../fonts/Cormorant-Italic/Cormorant-Italic.woff') format('woff'),
    url('../fonts/Cormorant-Italic/Cormorant-Italic.ttf') format('truetype'),
    url('../fonts/Cormorant-Italic/Cormorant-Italic.svg#Cormorant-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot');
    src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
    url('../fonts/OpenSans-ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/OpenSans-ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/OpenSans-ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
    url('../fonts/OpenSans-ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg#OpenSans-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light/OpenSans-Light.eot');
    src: local('Open Sans Light'), local('OpenSans-Light'),
    url('../fonts/OpenSans-Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Light/OpenSans-Light.woff2') format('woff2'),
    url('../fonts/OpenSans-Light/OpenSans-Light.woff') format('woff'),
    url('../fonts/OpenSans-Light/OpenSans-Light.ttf') format('truetype'),
    url('../fonts/OpenSans-Light/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBoldItalic/OpenSans-SemiBoldItalic.eot');
    src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
    url('../fonts/OpenSans-SemiBoldItalic/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-SemiBoldItalic/OpenSans-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBoldItalic/OpenSans-SemiBoldItalic.woff') format('woff'),
    url('../fonts/OpenSans-SemiBoldItalic/OpenSans-SemiBoldItalic.ttf') format('truetype'),
    url('../fonts/OpenSans-SemiBoldItalic/OpenSans-SemiBoldItalic.svg#OpenSans-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.eot');
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
    url('../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.woff2') format('woff2'),
    url('../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.woff') format('woff'),
    url('../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.ttf') format('truetype'),
    url('../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic/OpenSans-Italic.eot');
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
    url('../fonts/OpenSans-Italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Italic/OpenSans-Italic.woff2') format('woff2'),
    url('../fonts/OpenSans-Italic/OpenSans-Italic.woff') format('woff'),
    url('../fonts/OpenSans-Italic/OpenSans-Italic.ttf') format('truetype'),
    url('../fonts/OpenSans-Italic/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold/OpenSans-Bold.eot');
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../fonts/OpenSans-Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Bold/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold/OpenSans-Bold.ttf') format('truetype'),
    url('../fonts/OpenSans-Bold/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-LightItalic/OpenSans-LightItalic.eot');
    src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
    url('../fonts/OpenSans-LightItalic/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-LightItalic/OpenSans-LightItalic.woff2') format('woff2'),
    url('../fonts/OpenSans-LightItalic/OpenSans-LightItalic.woff') format('woff'),
    url('../fonts/OpenSans-LightItalic/OpenSans-LightItalic.ttf') format('truetype'),
    url('../fonts/OpenSans-LightItalic/OpenSans-LightItalic.svg#OpenSans-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular/OpenSans-Regular.eot');
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular/OpenSans-Regular.ttf') format('truetype'),
    url('../fonts/OpenSans-Regular/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold/OpenSans-SemiBold.eot');
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('../fonts/OpenSans-SemiBold/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-SemiBold/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold/OpenSans-SemiBold.woff') format('woff'),
    url('../fonts/OpenSans-SemiBold/OpenSans-SemiBold.ttf') format('truetype'),
    url('../fonts/OpenSans-SemiBold/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.eot');
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
    url('../fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.woff') format('woff'),
    url('../fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.ttf') format('truetype'),
    url('../fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
