html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

*::-webkit-input-placeholder       {color: #8f8e8e; opacity: 1; transition: opacity 0.3s;}
*::-moz-placeholder                {color: #8f8e8e; opacity: 1; transition: opacity 0.3s;}
*:-moz-placeholder                 {color: #8f8e8e; opacity: 1; transition: opacity 0.3s;}
*:-ms-input-placeholder            {color: #8f8e8e; opacity: 1; transition: opacity 0.3s;}
*:focus::-webkit-input-placeholder {color: #8f8e8e; opacity: 0; transition: opacity 0.3s;}
*:focus::-moz-placeholder          {color: #8f8e8e; opacity: 0; transition: opacity 0.3s;}
*:focus:-moz-placeholder           {color: #8f8e8e; opacity: 0; transition: opacity 0.3s;}
*:focus:-ms-input-placeholder      {color: #8f8e8e; opacity: 0; transition: opacity 0.3s;}
input, a, textarea {
	outline: none;
}
a {
	outline: none;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {	
}

body input:required:valid,
body textarea:required:valid {	
}
body {
	font-family: Arial;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 21px;
}
h6 {
	font-size: 18px;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
select {
	width: 100%;
	-webkit-appearance: none;
	background-image: url('../img/select.png');
	background-position: right 10px center;
	background-repeat: no-repeat;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px; 
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none!important;
	cursor: pointer;
}

select::-ms-expand {
  display: none;
}




.wrap_checkbox input[type=checkbox] {
	display: none;
}
.wrap_checkbox label {
	position: relative;
	display: inline-block;
	padding-left: 29px;
	font-size: 15px;
	min-height: 18px;
}
.wrap_checkbox label:hover {
	cursor: pointer;
}
.wrap_checkbox input[type=checkbox] + label:before {
	content: "";
	position: absolute;
	display: block;
	width: 18px;
	height: 18px;
	top: 1px;
	left: 0;
	margin-top: 0;
	background-color: transparent;
	border: 1px solid #444444;
	border-radius: 3px;
}
.wrap_checkbox input[type=checkbox]:checked + label:before {

}
.wrap_checkbox input[type=checkbox]:checked + label:after {
	content: "\2713";
	position: absolute;
	display: block;
	width: 18px;
	height: 18px;
	top: 1px;
	left: 0;
	padding-left: 3px;
	margin-top: 3px;
	font-size: 14px;
	color: #444444;
	font-weight: 700;
	text-align: left;
	line-height: 13px;
}





.wrap_radio input[type=radio] {
	display: none;
}
.wrap_radio label {
	display: inline-block;
	position: relative;
	min-height: 21px;
	padding: 3px 0px 3px 29px;
	cursor: pointer;
}
.wrap_radio label:before {
	content: "";
	position: absolute;
	display: block;
	width: 18px;
	height: 18px;
	left: 0;
	top: 4px;
	margin-top: 0;
	border: 1px solid #444444;
	border-radius: 50%;
}
.wrap_radio input[type=radio]:checked + label:before {
}
.wrap_radio input[type=radio]:checked + label:after {
	content: "";
	position: absolute;
	display: block;
	width: 8px;
	height: 8px;
	left: 5px;
	top: 4px;
	margin-top: 5px;
	border-radius: 50%;
	background-color: #444444;
}






/*Wordpress Styles*/
.text_page {
}
.text_page h1,
.text_page h2,
.text_page h3,
.text_page h4,
.text_page h5,
.text_page h6 {
	margin: 15px 0;
}
.text_page h1:first-child,
.text_page h2:first-child,
.text_page h3:first-child,
.text_page h4:first-child,
.text_page h5:first-child,
.text_page h6:first-child {
	margin-top: 0;
}
.text_page h1:last-child,
.text_page h2:last-child,
.text_page h3:last-child,
.text_page h4:last-child,
.text_page h5:last-child,
.text_page h6:last-child {
	margin-bottom: 0;
}
.text_page h1 {
	font-size: 36px;
}
.text_page h2 {
	font-size: 30px;
}
.text_page h3 {
	font-size: 24px;
}
.text_page h4 {
	font-size: 21px;
}
.text_page h5 {
	font-size: 18px;
}
.text_page h6 {
	font-size: 16px;
}
.text_page p {
	margin: 15px 0;
}
.text_page p:first-child {
	margin-top: 0;
}
.text_page p:last-child {
	margin-bottom: 0;
}
.text_page a {
	text-decoration: underline;
	color: #3082e0;
}
.text_page a:hover {
	text-decoration: none;
}
.text_page ul {
	padding-left: 25px;
	list-style: disc;
}
.text_page ol {
	padding-left: 25px;
	list-style: decimal;
}
.text_page .alignright {
	float: right;
	max-width: 50%;
	height: auto !important;
	padding: 10px;
	padding-right: 0;
}
.text_page .alignleft {
	float: left;
	max-width: 50%;
	height: auto !important;
	padding: 10px;
	padding-left: 0;
}
.text_page .aligncenter {
	display: block;
	max-width: 100%;
	height: auto !important;
	margin: 0 auto;
}
.text_page ol ol,
.text_page ul ol,
.text_page ol ul,
.text_page ul ul {
	padding-left: 20px;
}
.text_page h3+ol,
.text_page h3+ul,
.text_page h4+ol,
.text_page h4+ul,
.text_page h5+ol,
.text_page h5+ul,
.text_page h6+ol,
.text_page h6+ul,
.text_page p+ol,
.text_page p+ul {
	margin-top: -15px
}
.text_page .wrap_table {
	position: relative;
	width: 100%;
	overflow-x: auto;
}
.text_page table {
	width: 100%;
}
.text_page .wrap_table table {
}
.text_page table th,
.text_page table td {
	vertical-align: middle;
	border: 1px solid #444444;
}





@media only screen and (max-width : 560px) {
	.text_page h1 {
		font-size: 26px;
	}
	.text_page h2 {
		font-size: 22px;
	}
	.text_page h3 {
		font-size: 20px;
	}
	.text_page h4 {
		font-size: 18px;
	}
	.text_page h5 {
		font-size: 17px;
	}
	.text_page h6 {
		font-size: 16px;
	}

	.text_page .alignright {
		display: block;
		float: none;
		max-width: 100%;
		width: auto;
		padding: 10px 0;
		margin: 0 auto;
	}
	.text_page .alignleft {
		display: block;
		float: none;
		max-width: 100%;
		width: auto;
		padding: 10px 0;
		margin: 0 auto;
	}
}





.wpcf7-not-valid-tip,
.wpcf7-response-output {
 display: none!important;
}

.wpcf7-not-valid {
 border: 2px solid red!important;
}





.fancybox-slide--video .fancybox-content {
	width  : 800px;
	height : 600px;
	max-width  : 80%;
	max-height : 80%;
}