html {
  overflow-y: scroll;
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  cursor: default;
}
body {
  font-size: 16px;
  font-family: 'Cormorant', sans-serif;
  line-height: 1;
}
.owl-stage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.owl-carousel .owl-item {
  height: auto;
  float: none;
}
.button {
  display: inline-block;
  height: 3rem;
  padding: 0 2.5rem;
  border: 1px solid #111;
  line-height: 3rem;
}
.button:hover .button__icon {
  -webkit-transform: translateX(0.4rem);
  -ms-transform: translateX(0.4rem);
  transform: translateX(0.4rem);
}
.button__text {
  display: inline-block;
  padding-right: 2.5rem;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #000;
  position: relative;
}
.button__icon {
  position: absolute;
  right: 0;
  top: 0.8rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.button__icon:before {
  font-size: 0.5rem;
}
.container__text-bgs {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
}
.container__text-bg {
  position: absolute;
  z-index: -1;
}
.container__text-bg_line_position {
  position: relative;
  text-align: center;
  z-index: 1;
}
.container__text-bg__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 18.75rem;
  line-height: 13rem;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.15);
  letter-spacing: 0.03em;
}
.container__text-bg__text_size_m {
  font-size: 14.06rem;
  line-height: 11rem;
  display: inline-block;
  margin: 0 1rem;
}
.container__text-bg_top-position {
  top: 0;
  left: -1rem;
}
.container__text-bg_bottom-position {
  right: -2.2rem;
  bottom: 0;
}
/* ----- Start Header ----- */
.header-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 10rem;
  border-bottom: 1px solid #E0E0E0;
}
.header-logo__link {
  display: inline-block;
  text-decoration: none;
  text-align: center;
}
.header-logo__img {
  max-width: 100%;
}
.header-logo__img--mobile {
  display: none;
}
.hamburger-box {
  display: none;
}
.mobile-row {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.header-search {
  padding-left: 1.375rem;
}
.header-nav {
  padding-left: 3.437rem;
}
.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.nav .products-count {
  position: absolute;
  top: -0.375rem;
  right: -0.1rem;
  width: 1.06rem;
  height: 1.06rem;
  display: block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #49C5B6;
  color: #fff;
  font-size: 0.56rem;
  text-align: center;
  line-height: 1.06rem;
}
.nav__item {
  margin-right: 1.875rem;
}
.nav__item--lang {
  margin: 1.3rem 1rem 0 0;
}
.nav__item--lang:last-child {
  margin-right: 0;
}
.header_nav_icons .nav__item {
  margin-right: 2.5rem;
}
.active-language {
  font-weight: 600;
}
.nav__link__icon {
  padding-bottom: 0.312rem;
  text-align: center;
  position: relative;
}
.nav__link {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}
.nav__link:hover .nav__link__text {
  text-decoration: underline;
}
.nav__link span {
  display: block;
}
.search-form__content {
  border: 1px solid #E0E0E0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 1.25rem;
  width: 34.687rem;
  -webkit-transition: border-color 0.4s;
  -o-transition: border-color 0.4s;
  transition: border-color 0.4s;
}
.header-search--focus_on {
  border-color: #111;
}
.search-form__button {
  font-size: 1rem;
  height: 1rem;
  width: 1rem;
  background: transparent;
  border: none;
  position: relative;
}
.search-form__button:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.search-form__input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 1.25rem;
  height: 2.75rem;
  border: none;
  color: #000;
  font-size: 1rem;
}
.search-form__input::-webkit-input-placeholder {
  color: #E0E0E0;
  font-size: 1rem;
}
.search-form__input::-moz-placeholder {
  color: #E0E0E0;
  font-size: 1rem;
}
.search-form__input:-ms-input-placeholder {
  color: #E0E0E0;
  font-size: 1rem;
}
.search-form__input::-ms-input-placeholder {
  color: #E0E0E0;
  font-size: 1rem;
}
.search-form__input::placeholder {
  color: #E0E0E0;
  font-size: 1rem;
}
.header-categories {
  padding: 1.5rem 0;
  border-bottom: 1px solid #E0E0E0;
}
.categories-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.categories-list__item {
  padding-right: 10.25rem;
}
.categories-list__item:last-child {
  padding-left: 0;
}
.categories-list__link {
  font-weight: 600;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
.categories-list__link:hover {
  text-decoration: underline;
}
/* ----- End Header ----- */
/* ----- Start Products Presentation ----- */
.products-presentation {
  overflow: hidden;
}
.products-presentation__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(178, 223, 219, 0.75);
  position: relative;
  z-index: 1;
}
.products-presentation__title {
  text-align: center;
  padding: 10rem 0;
}
.products-presentation__title__text {
  color: #FAFAFA;
  font-weight: 500;
  font-size: 3.437rem;
  line-height: 3.75rem;
  text-transform: uppercase;
  padding: 0 2rem;
}
.products-presentation__product {
  padding-top: 2rem;
}
.products-presentation__product-inner {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.products-presentation__image {
  max-height: 100%;
  width: 50%;
}
.products-presentation__image.translation_left {
  -webkit-transform: translateX(-2rem);
  -ms-transform: translateX(-2rem);
  transform: translateX(-2rem);
}
.products-presentation__image.translation_right {
  -webkit-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  transform: translateX(2rem);
}
/* ----- End Products Presentation ----- */
/* ----- Start Gift Presentation ----- */
.gift-presentation {
  overflow: hidden;
}
.gift-presentation__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -0.625rem;
}
.gift-presentation__content-box {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  padding: 0 0.625rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.gift-presentation__content-inner {
  height: 100%;
}
.gift-presentation__bg {
  height: 100%;
}
.gift-presentation__text {
  padding: 3.75rem 10.125rem 3.75rem 6.25rem;
  background: #F2F2F2;
}
.gift-presentation__title {
  padding-bottom: 2.5rem;
}
.gift-presentation__title-text {
  font-weight: 500;
  font-size: 3.437rem;
  line-height: 4.125rem;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #111;
}
.gift-presentation__excerpt {
  padding-bottom: 3.75rem;
}
.gift-presentation__excerpt-text {
  color: #111;
  font-size: 1rem;
  line-height: 1.625rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
/* ----- End Gift Presentation ----- */
/* ----- Start Products ----- */
.products {
  overflow: hidden;
  padding-top: 1.25rem;
}
.products-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -0.625rem;
}
.products-list__titles {
  text-align: center;
  color: #111111;
}
.products-list__title {
  font-weight: 300;
  font-size: 2.812rem;
  line-height: 3.062rem;
  text-transform: uppercase;
}
.products-list__subtitle {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: "Open Sans", sans-serif;
  padding-top: 1.25rem;
}
.products-list__thumbnail {
  text-align: center;
  padding-top: 1rem;
}
.products-list__thumbnail img {
  max-height: 100%;
  max-width: 100%;
}
.products-list__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}
.products-list__item-wrap {
  padding: 0 0.625rem 1.25rem;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.products-list__link {
  background: #F2F2F2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 36.25rem;
  padding: 3.125rem 1rem 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  height: 100%;
}
.products-list__link:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
/* ----- End Products ----- */
/* ----- Start Footer ----- */
.footer {
  background: #111111;
  padding: 4.375rem 0 2rem;
}
.footer-main {
  width: 71.25rem;
  margin: 0 auto;
}
.footer__privacy-policy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 5rem;
}
.footer-company {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}
.footer-copyright__text {
  font-size: 0.75rem;
  color: #fff;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}
.footer-company__text {
  display: block;
  font-size: 0.75rem;
  color: #fff;
  font-weight: 300;
  padding-top: 0.5rem;
  font-family: "Open Sans", sans-serif;
}
.footer-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer-menu__column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}
.footer-menu__title {
  padding-bottom: 1.562rem;
}
.footer-menu__title__text {
  font-weight: 600;
  line-height: 1.625rem;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #FFFFFF;
}
.mobile-accordion-icon {
  display: none;
}
.footer-nav__item {
  padding-bottom: 0.937rem;
}
.footer-nav__item:last-child {
  padding-bottom: 0;
}
.footer-nav__link {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  text-decoration: none;
}
.footer-nav__link:hover,
.footer-nav__link:hover .footer-nav__link__text {
  text-decoration: underline;
}
.footer-nav__link__text {
  display: inline-block;
  padding-left: 0.5rem;
}
.footer-nav__link__icon {
  width: 1.5rem;
  display: inline-block;
}
.delivery-information,
.payment-information {
  padding-top: 4.5rem;
}
.delivery-methods,
.payment-methods {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.delivery-methods__item,
.payment-methods__item {
  margin-right: 0.25rem;
}
.delivery-methods__item:last-child,
.payment-methods__item:last-child {
  margin-right: 0;
}
/* ----- End Footer ----- */
/* ----- Start Newsletter ----- */
.newsletter {
  overflow: hidden;
}
.newsletter-container {
  background: #FFCDD2;
  padding: 9.375rem 0;
  position: relative;
  z-index: 1;
}
.newsletter-title {
  text-align: center;
}
.newsletter-title__text {
  font-weight: 300;
  line-height: 3.06rem;
  font-size: 2.812rem;
  text-transform: uppercase;
  color: #111111;
}
.newsletter-subtitle {
  text-align: center;
  padding: 1.875rem 0 4.375rem;
}
.newsletter-subtitle__text {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25rem;
  font-size: 1rem;
  color: #111111;
}
.newsletter-form__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.newsletter-form__input {
  height: 3rem;
  width: 18.625rem;
  padding: 0 1.562rem;
  border: 1px solid #111111;
  color: #000;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}
.newsletter-form__input::-webkit-input-placeholder {
  color: #E0E0E0;
  font-size: 1rem;
}
.newsletter-form__input::-moz-placeholder {
  color: #E0E0E0;
  font-size: 1rem;
}
.newsletter-form__input:-ms-input-placeholder {
  color: #E0E0E0;
  font-size: 1rem;
}
.newsletter-form__input::-ms-input-placeholder {
  color: #E0E0E0;
  font-size: 1rem;
}
.newsletter-form__input::placeholder {
  color: #E0E0E0;
  font-size: 1rem;
}
.newsletter-form__button {
  width: 12.125rem;
  height: 3rem;
  background: #111111;
  padding: 0;
  cursor: pointer;
  border: none;
}
.newsletter-form__button__text {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  text-transform: capitalize;
}
/* ----- End Newsletter ----- */
/* ----- Start Premium products ----- */
.premium-products {
  padding: 9.375rem 0;
  background: #FAFAFA;
}
.premium-products__title {
  text-align: center;
  padding-bottom: 1.875rem;
}
.premium-products__title-text {
  font-weight: 300;
  color: #111;
  font-size: 2.812rem;
  line-height: 3.062rem;
  text-transform: uppercase;
}
.premium-products__subtitle {
  text-align: center;
}
.premium-products__subtitle-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #111111;
}
.premium-products__list {
  padding-top: 5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  width: 73.25rem;
}
.premium-products__item {
  margin: 0 1rem;
  height: 100%;
}
.owl-carousel .owl-nav button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 2.25rem;
  height: 2.25rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #F2F2F2 !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  outline: 0;
}
.owl-carousel .owl-nav button:hover .icon-angle-right,
.owl-carousel .owl-nav button:hover .icon-angle-left {
  color: #111;
}
.owl-carousel .icon-angle-right,
.owl-carousel .icon-angle-left {
  color: #BDBDBD;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.owl-carousel .owl-prev {
  left: 2.25rem;
}
.owl-carousel .owl-next {
  right: 2.25rem;
}
.premium-product {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.premium-product__container {
  background: #fff;
  padding: 1.75rem;
  text-align: center;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03), 0px -4px 10px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03), 0px -4px 10px rgba(0, 0, 0, 0.03);
  overflow: hidden;
}
.premium-product__volume {
  padding: 1rem 0;
}
.premium-product__volume__text {
  font-family: "Open Sans", sans-serif;
  color: #BDBDBD;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}
.premium-product__title {
  padding-bottom: 1rem;
}
.premium-product__title__text {
  font-weight: 300;
  line-height: 1.687rem;
  font-size: 1.562rem;
  text-transform: uppercase;
  color: #111111;
  text-decoration: none;
}
.premium-product__price__value {
  font-family: "Open Sans", sans-serif;
  line-height: 1.562rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #111111;
  display: block;
}
.premium-product__price__value_old_price {
  font-size: 1rem;
  color: #BDBDBD;
}
.product-buy {
  padding-top: 1rem;
}
.product-buy__button {
  width: 100%;
  text-align: center;
  background: #49C5B6;
  border: none;
}
.product-buy__button-preorder {
  background: #BDBDBD;
}
.product-buy__button__text {
  color: #FFFFFF;
}
.product-buy__button__icon {
  color: #FFFFFF;
}
.product-make-favorite {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  z-index: 1;
}
.favorite-link {
  width: 1.25rem;
  height: 1.125rem;
  position: relative;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: 0;
}
.favorite-link_active:after {
  opacity: 1 !important;
}
.favorite-link:hover:after {
  opacity: 1;
}
.favorite-link:before,
.favorite-link:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.favorite-link:before {
  background: url(../img/icons/like.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.favorite-link:after {
  background: url(../img/icons/like_active.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  opacity: 0;
}
.sale-information {
  width: 6.625rem;
  height: 3.375rem;
  position: absolute;
  text-align: center;
  background: #EF5350;
  -webkit-transform: rotate(-45.97deg);
  -ms-transform: rotate(-45.97deg);
  transform: rotate(-45.97deg);
  top: -0.5rem;
  left: -2.3rem;
}
.sale-number {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1.375rem;
  font-size: 1.125rem;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  display: inline-block;
  padding-top: 1.5rem;
}
.more-products {
  padding-top: 5rem;
  text-align: center;
}
/* ----- End Premium products ----- */
/* ----- Start About product ----- */
.about-product {
  overflow: hidden;
  padding-bottom: 1.25rem;
}
.about-product__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -0.625rem;
}
.about-product__content-box {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  padding: 0 0.625rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.about-product__content-inner {
  height: 100%;
}
.about-product__bg {
  height: 100%;
}
.about-product__text {
  padding: 3.75rem 5rem 2.5rem 10rem;
  background: #F2F2F2;
}
.about-product__title-text {
  font-weight: 500;
  font-size: 3.437rem;
  line-height: 4.125rem;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #111;
}
.about-product__excerpt-text {
  color: #111;
  font-size: 1rem;
  line-height: 1.625rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-top: 2.5rem;
}
.about-product .mobile-more-content {
  display: none;
}
/* ----- End About product ----- */
/* ----- Start Our advantages ----- */
.our-advantages {
  background: #C4E6E3;
  position: relative;
  padding: 2.875rem 0 2.5rem;
}
.our-advantages__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.our-advantages__item {
  padding: 0 3.375rem;
  text-align: center;
}
.advantage__wrap-title {
  padding-top: 1.375rem;
}
.advantage__icon {
  max-width: 100%;
}
.advantage__title {
  font-family: "Open Sans", sans-serif;
  line-height: 1.625rem;
  font-size: 1rem;
  color: #111111;
}
/* ----- End Our advantages ----- */
/* ----- Start Reviews ----- */
.reviews {
  padding: 6.25rem 0;
  background: #FAFAFA;
}
.reviews__title {
  padding-bottom: 4.875rem;
  text-align: center;
}
.reviews__title-text {
  font-weight: 300;
  line-height: 3.06rem;
  font-size: 2.812rem;
  text-transform: uppercase;
  color: #111111;
}
.vrite-review {
  text-align: center;
  padding-top: 4.375rem;
}
.reviews-slider {
  width: 34.75rem;
  margin: 0 auto;
  position: relative;
}
.reviews-slider__item {
  text-align: center;
}
.reviews-slider .owl-prev {
  left: -5.625rem;
}
.reviews-slider .owl-next {
  right: -5.625rem;
}
.review-title {
  padding-top: 2.5rem;
}
.review-title__text {
  font-weight: 300;
  line-height: 1.625rem;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #111111;
}
.review-rating {
  padding-top: 0.625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.review-rating__icon-wrap {
  margin: 0 0.625rem;
}
.review-content {
  padding-top: 2.25rem;
}
.review-content__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.625rem;
  font-size: 1rem;
  color: #111111;
}
/* ----- End Reviews ----- */
/* ----- Start Products slider ----- */
.top-slider {
  background: #FAFAFA;
  overflow: hidden;
}
.top-slider__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.top-slider__content-box {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}
.top-slider__content-inner {
  position: relative;
}
.top-slider__quote {
  padding: 13.25rem 0 6.875rem 10rem;
}
.top-slider__quote__text {
  font-weight: 500;
  line-height: 5.875rem;
  font-size: 5.375rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #111111;
}
.products-slider {
  height: 100%;
  position: relative;
}
.products-slider__container {
  height: 100%;
}
.products-slider__item {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.products-slider__item.active_slide {
  visibility: visible;
  opacity: 1;
}
.products-slider__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.products-slider__bg--mobile {
  display: none;
}
.products-slider__image-wrap {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem 0;
}
.products-slider__image {
  display: block;
  max-height: 100%;
}
.scroll-down-button {
  padding: 2.5rem 0 6.25rem;
  text-align: center;
}
.scroll-down-button__link {
  text-decoration: none;
  display: inline-block;
}
.scroll-down-button__link:hover .scroll-down-button__icon {
  -webkit-transform: translateY(0.3rem);
  -ms-transform: translateY(0.3rem);
  transform: translateY(0.3rem);
}
.scroll-down-button__text {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.125rem;
  font-size: 0.875rem;
  letter-spacing: 0.03em;
  color: #000000;
  display: block;
}
.scroll-down-button__icon {
  display: block;
  margin-top: 0.625rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.slider-controls {
  position: absolute;
  top: 50%;
  right: 10rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.slider-page {
  font-weight: 500;
  font-size: 1.562rem;
  color: #111111;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: 1rem;
  cursor: pointer;
}
.slider-page.active {
  font-size: 4.687rem;
  -webkit-transform: translateY(-0.5rem);
  -ms-transform: translateY(-0.5rem);
  transform: translateY(-0.5rem);
}
/* ----- End Products slider ----- */
/* ----- Start mmenu ----- */
.mm-navbar,
.mm-panels {
  background: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.mm-panel {
  background: #FAFAFA;
}
.hiden-status {
  opacity: 0;
}
.mm-panel {
  padding: 0 1.25rem;
}
.mm-navbar {
  padding: 0;
}
.languages-links:before {
  content: '';
  display: block;
  width: 100%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background: #E5E5E5;
  height: 0.625rem;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
}
.languages-links a {
  position: relative;
}
.languages-links a:before {
  content: '';
  display: block;
  width: 1rem;
  height: 0.875rem;
  right: 1.25rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../img/icons/check-icon.png") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
}
.mm-listitem__text {
  padding: 0 1.25rem;
}
.mmenu-page-logo {
  width: 2.375rem;
  -webkit-box-flex: 0 !important;
  -webkit-flex: 0 0 2.4375rem !important;
  -ms-flex: 0 0 2.4375rem !important;
  flex: 0 0 2.4375rem !important;
  padding: 0 !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mmenu-page-logo img {
  max-width: 100%;
}
.mm-btn_next:after,
.mm-btn_prev:before {
  width: 0.5625rem;
  height: 0.5625rem;
}
.mm-btn:after,
.mm-btn:before {
  border-width: 1px;
  border-color: #000;
}
.mm-listitem .mm-btn_next:after,
.mm-listitem .mm-btn_prev:before {
  width: 0.25rem;
  height: 0.25rem;
  right: 1.25rem;
}
.mm-btn_close:after,
.mm-btn_close:before {
  width: 0.5625rem;
  height: 0.5625rem;
}
.mm-btn_close:before {
  right: 0.75rem;
}
.mm-navbar__title {
  font-size: 1.875rem;
  color: #111 !important;
  text-transform: uppercase;
  font-weight: 300;
}
.mm-menu {
  --mm-navbar-size: 66px;
  --mm-line-height: 58px;
}
.mm-listitem {
  border-color: rgba(128, 128, 128, 0.5);
}
#panel-menu a {
  font-weight: 600;
}
.mm-listitem a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  text-transform: capitalize;
  color: #111 !important;
}
.mm-navbar__btn {
  position: relative;
}
/* ----- End mmenu ----- */
/* ----- Start Review Modal ----- */
.rm {
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 2;
  display: none;
}
.rm-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #FAFAFA;
}
.rm-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 1.25rem;
}
.rm-navbar {
  height: 4.125rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  padding: 0 2.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
  background: #fff;
}
.rm-navbar__title {
  text-transform: uppercase;
  color: #111;
  font-size: 1.75rem;
  line-height: 2.5rem;
  width: 100%;
  text-align: center;
}
.rm-btn_close {
  position: relative;
  width: 1.125rem;
  height: 1.125rem;
  display: block;
  position: absolute;
  top: 1.5625rem;
  right: 1.25rem;
}
.rm-btn_close:after,
.rm-btn_close:before {
  content: '';
  width: 0.5625rem;
  height: 0.5625rem;
  border: 1px solid #000;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.rm-btn_close:after {
  border-left: none;
  border-top: none;
  left: 0;
}
.rm-btn_close:before {
  left: 0.8125rem;
  border-right: none;
  border-bottom: none;
}
.rm .success-title {
  color: #111;
  font-size: 1.75rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  padding: 2.375rem 0 3.25rem;
}
.rm .success-icon img {
  max-width: 100%;
}
.review-form {
  height: 100%;
}
.review-form .rating {
  padding-bottom: 2.5rem;
}
.review-form .rating__title {
  color: #111;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 1.625rem;
}
.review-form .rating__fields {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.review-form .rating-field {
  position: relative;
  margin: 0 0.875rem;
}
.review-form .rating-field input {
  position: absolute;
  visibility: hidden;
}
.review-form .rating-label {
  width: 2.25rem;
  height: 2.1875rem;
  display: block;
  position: relative;
}
.review-form .rating-label:after,
.review-form .rating-label:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/icons/star-default.png) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.review-form .rating-label:after {
  background: url(../img/icons/star-active.png) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  opacity: 0;
}
.review-form .active-rating .rating-label:after {
  opacity: 1;
}
.review-form-content {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.field-wrapper {
  padding-bottom: 1rem;
}
.field-wrapper--flex_height {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.field-input {
  width: 100%;
  height: 3rem;
  border: 1px solid #E0E0E0;
  padding: 0 1rem;
  font-size: 1rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.field-input:focus {
  border-color: #111;
}
.field-input--flex_height {
  height: 100%;
  padding: 1rem;
  resize: none;
}
.add-review {
  width: 100%;
  background: #111111;
}
.add-review__link-text {
  color: #fff;
}
#success-msg {
  display: none;
  z-index: 1;
}
#new-review .fancybox-close-small {
  display: none;
}
/* ----- End Review Modal ----- */
/* ----- Start Name ----- */
/* ----- End Name ----- */
