@media only screen and (max-width: 1200px) {
  .footer-main {
    width: 100%;
  }
  .footer-menu {
    padding: 0 1rem;
  }
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 16px !important;
  }
  .wow {
    -webkit-animation-name: none !important;
    animation-name: none !important;
    visibility: visible !important;
  }
  .owl-carousel .icon-angle-right,
  .owl-carousel .icon-angle-left {
    color: #111;
  }
  /* ----- Start Products Presentation ----- */
  .products-presentation__container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .products-presentation .container__text-bg {
    display: none;
  }
  .products-presentation__title {
    padding: 1rem 1.25rem 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .products-presentation__title__text {
    padding: 0;
    font-size: 1.562rem;
    line-height: 1.68rem;
  }
  .products-presentation__product {
    padding-top: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .products-presentation__image {
    width: 50%;
  }
  .products-presentation__image.translation_left {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .products-presentation__image.translation_right {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  /* ----- End Products Presentation ----- */
  /* ----- Start Products ----- */
  .products {
    padding-top: 0.625rem;
  }
  .products-list {
    margin: 0 -0.312rem;
  }
  .products-list__title {
    font-size: 1rem;
    line-height: 1rem;
  }
  .products-list__subtitle {
    display: none;
  }
  .products-list__thumbnail {
    text-align: center;
    padding-top: 1rem;
  }
  .products-list__thumbnail img {
    width: 100%;
  }
  .products-list__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .products-list__item-wrap {
    padding: 0 0.312rem 0.625rem;
  }
  .products-list__link {
    min-height: 50vw;
    padding: 1.25rem 1.5rem;
    height: 100%;
  }
  .products-list__link:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  /* ----- End Products ----- */
  /* ----- Start Gift Presentation ----- */
  .gift-presentation__container {
    display: block;
    margin: 0;
  }
  .gift-presentation__content-box {
    padding: 0;
  }
  .gift-presentation__content-inner {
    height: 100%;
  }
  .gift-presentation__bg {
    height: 70vw;
  }
  .gift-presentation__text {
    padding: 1.25rem;
  }
  .gift-presentation__title {
    padding-bottom: 1.25rem;
  }
  .gift-presentation__title-text {
    font-size: 1.562rem;
    line-height: 1.687rem;
  }
  .gift-presentation__excerpt {
    padding-bottom: 1.25rem;
  }
  .gift-presentation .choose_gift {
    text-align: center;
    padding-bottom: 0.625rem;
  }
  /* ----- End Gift Presentation ----- */
  /* ----- Start Our advantages ----- */
  .our-advantages .container__text-bgs {
    display: none;
  }
  .our-advantages__item {
    padding: 0 2rem;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
  }
  .our-advantages__list {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .advantage__wrap-title {
    padding-top: 1.375rem;
  }
  /* ----- End Our advantages ----- */
  /* ----- Start Reviews ----- */
  .reviews {
    padding: 3.125rem 1.125rem 5rem;
    background: #FAFAFA;
  }
  .reviews__title {
    padding-bottom: 2rem;
  }
  .reviews__title-text {
    line-height: 2.5rem;
    font-size: 1.875rem;
  }
  .vrite-review {
    padding-top: 3.125rem;
  }
  .reviews-slider {
    width: 100%;
  }
  .reviews-slider .owl-prev {
    left: 0;
    margin-top: -3rem;
  }
  .reviews-slider .owl-next {
    right: 0;
    margin-top: -3rem;
  }
  .review-title {
    padding-top: 1rem;
  }
  .review-content__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1.625rem;
    font-size: 1rem;
    color: #111111;
  }
  /* ----- End Reviews ----- */
  /* ----- Start Newsletter ----- */
  .newsletter .container__text-bg {
    display: none;
  }
  .newsletter-container {
    padding: 2.5rem 1.125rem;
  }
  /* ----- End Newsletter ----- */
  /* ----- Start Footer ----- */
  .footer {
    background: #111111;
    padding: 0;
  }
  .footer__privacy-policy {
    padding: 1rem 1.25rem;
    background: #000;
  }
  .footer-company {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-left: 0.5rem;
  }
  .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2.5rem 1.25rem 1rem;
  }
  .footer-menu__column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .footer-menu__title {
    padding: 0.8rem 0;
    position: relative;
  }
  .footer-menu__title.active .mobile-accordion-icon {
    -webkit-transform: translateY(-50%) rotate(270deg);
    -ms-transform: translateY(-50%) rotate(270deg);
    transform: translateY(-50%) rotate(270deg);
  }
  .mobile-accordion-icon {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0.625rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .mobile-accordion-icon:before {
    font-size: 0.625rem;
    color: #fff;
    display: inline-block;
  }
  .footer-nav {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .footer-nav__item {
    padding-bottom: 0.937rem;
  }
  .footer-nav__item:last-child {
    padding-bottom: 0;
  }
  .delivery-information,
  .payment-information {
    padding-top: 0;
  }
  .delivery-methods,
  .payment-methods {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .delivery-methods.isOpen,
  .payment-methods.isOpen {
    margin-bottom: 1.5rem;
  }
  .footer-nav.isOpen {
    margin-bottom: 1.5rem;
  }
  /* ----- End Footer ----- */
  /* ----- Start About product ----- */
  .about-product {
    padding-bottom: 0;
  }
  .about-product__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about-product__content-box {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .about-product__content-box:nth-child(1) {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .about-product__content-box:nth-child(2) {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .about-product__content-inner {
    height: 100%;
  }
  .about-product__bg {
    height: 70vw;
  }
  .about-product__text {
    padding: 1.25rem 1.25rem 1.875rem;
  }
  .about-product__title-text {
    font-size: 1.562rem;
    line-height: 1.687rem;
  }
  .about-product__excerpt-text {
    margin-top: 1.25rem;
  }
  .about-product__excerpt.full-content p {
    display: block;
  }
  .about-product__excerpt p {
    display: none;
  }
  .about-product__excerpt p:nth-child(1) {
    display: block;
  }
  .about-product .mobile-more-content {
    display: block;
    text-align: center;
    padding-top: 1.25rem;
  }
  .about-product .btn-mc {
    background: transparent;
    border: none;
    outline: 0;
    position: relative;
    padding: 0;
  }
  .about-product .btn-mc-text {
    display: inline-block;
    padding-right: 1.75rem;
    font-size: 1rem;
    color: #111111;
    font-family: "Open Sans", sans-serif;
  }
  .about-product .btn-mc.isOpened .btn-mc-icon {
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
  }
  .about-product .btn-mc-icon {
    position: absolute;
    width: 0.8125rem;
    height: 0.8125rem;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url(../img/icons/rotate-icon.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  /* ----- End About product ----- */
  /* ----- Start Products slider ----- */
  .top-slider {
    padding-bottom: 4.875rem;
  }
  .top-slider__content-box:nth-child(1) {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 65%;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
  }
  .top-slider__content-box:nth-child(2) {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 35%;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
  }
  .top-slider__content-inner {
    position: relative;
  }
  .top-slider__quote {
    padding: 4.375rem 4.375rem 4.375rem 1.25rem;
  }
  .top-slider__quote__text {
    line-height: 2.375rem;
    font-size: 2.187rem;
  }
  .products-slider__image {
    height: 80%;
  }
  .products-slider__bg {
    display: none;
  }
  .products-slider__bg--mobile {
    display: block;
  }
  .scroll-down-button {
    display: none;
  }
  .slider-controls {
    height: 2.687rem;
    margin-top: 1.218rem;
    top: 100%;
    right: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }
  .slider-page {
    font-size: 1rem;
    margin: 0 0.5rem;
  }
  .slider-page.active {
    font-size: 2.187rem;
    -webkit-transform: translateY(-0.2rem);
    -ms-transform: translateY(-0.2rem);
    transform: translateY(-0.2rem);
  }
  /* ----- End Products slider ----- */
  /* ----- Start Premium products ----- */
  .premium-products {
    padding: 3.125rem 0;
  }
  .premium-products__title {
    text-align: center;
    padding-bottom: 1rem;
  }
  .premium-products__title-text {
    font-size: 1.875rem;
    line-height: 2.5rem;
  }
  .premium-products__list {
    padding: 2.5rem 0.5rem 0;
    width: 100%;
    display: block;
  }
  .premium-products__item {
    margin: 0;
    height: 100%;
  }
  .premium-products .owl-item {
    padding: 0 0.5rem;
  }
  .owl-carousel .owl-prev {
    left: 1rem;
  }
  .owl-carousel .owl-next {
    right: 1rem;
  }
  .premium-product {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .premium-product__container {
    padding: 1rem;
  }
  .premium-product__volume {
    padding: 0.5rem 0;
  }
  .premium-product__volume__text {
    font-size: 0.625rem;
    line-height: 0.75rem;
  }
  .premium-product__title {
    padding-bottom: 0.5rem;
  }
  .premium-product__title__text {
    line-height: 1.125rem;
    font-size: 1rem;
  }
  .premium-product__price__value {
    line-height: 1;
    font-size: 1rem;
  }
  .premium-product__price__value_old_price {
    font-size: 0.687rem;
    line-height: 1.1;
    color: #BDBDBD;
  }
  .product-buy {
    padding-top: 0;
  }
  .product-make-favorite {
    top: 0.75rem;
    right: 0.75rem;
  }
  .favorite-link {
    width: 1.125rem;
    height: 1rem;
  }
  .more-products {
    padding-top: 5rem;
    text-align: center;
  }
  /* ----- End Premium products ----- */
  /* ----- Start Header ----- */
  .header-main {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    border: none;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 2;
  }
  .header-logo {
    padding: 0.9375rem 0 0.9375rem 1.25rem;
  }
  .header-logo__link {
    width: 2.375rem;
  }
  .header-logo__img {
    display: none;
  }
  .header-logo__img--mobile {
    display: block;
  }
  .mobile-row {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  .mobile-row__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hamburger-box {
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-top: 1px solid #E0E0E0;
  }
  .hamburger-button {
    width: 3.5rem;
    height: 2.875rem;
    background: transparent;
    border: none;
    outline: 0;
    padding: 0;
    display: block;
  }
  .hamburger-icon {
    width: 100%;
    height: 100%;
    display: block;
    background: url(../img/icons/burger.png) no-repeat center;
  }
  .company-nav {
    display: none;
  }
  .header-search {
    padding: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .header-nav {
    padding: 0;
  }
  .nav .products-count {
    top: -0.5rem;
    right: -0.6rem;
  }
  .header-languages {
    display: none;
  }
  .header_nav_icons {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    padding-right: 1.25rem;
  }
  .header_nav_icons .nav__item {
    margin: 0 0 0 2.5rem;
  }
  .nav__link__icon {
    padding-bottom: 0;
  }
  .nav__link__icon + .nav__link__text {
    display: none;
  }
  .search-form__content {
    border: none;
    border-top: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    width: 100%;
  }
  .header-search--focus_on {
    border-color: #E0E0E0;
  }
  .search-form__button {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    height: 2.875rem;
    width: 3rem;
  }
  .search-form__button:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .search-form__input {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    padding: 0 0 0 1.25rem;
    height: 2.875rem;
    width: 100%;
  }
  .search-form__input::-webkit-input-placeholder {
    color: #E0E0E0;
    font-size: 1rem;
  }
  .search-form__input::-moz-placeholder {
    color: #E0E0E0;
    font-size: 1rem;
  }
  .search-form__input:-ms-input-placeholder {
    color: #E0E0E0;
    font-size: 1rem;
  }
  .search-form__input::-ms-input-placeholder {
    color: #E0E0E0;
    font-size: 1rem;
  }
  .search-form__input::placeholder {
    color: #E0E0E0;
    font-size: 1rem;
  }
  .header-categories {
    display: none;
  }
  /* ----- End Header ----- */
  .fancybox-slide {
    padding: 0;
  }
}
@media only screen and (max-width: 560px) {
  /* ----- Start Our advantages ----- */
  .our-advantages {
    padding: 0.65rem 1.25rem;
  }
  .our-advantages .container__text-bgs {
    display: none;
  }
  .our-advantages__list {
    display: block;
  }
  .our-advantages__item {
    padding: 0.6rem 0;
    text-align: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .advantage__wrap-title {
    padding: 0 0 0 1.25rem;
  }
  .advantage__wrap-icon {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 2rem;
    -ms-flex: 0 0 2rem;
    flex: 0 0 2rem;
  }
  .advantage__icon {
    max-width: 100%;
  }
  /* ----- End Our advantages ----- */
  /* ----- Start Newsletter ----- */
  .newsletter-title__text {
    line-height: 2.5rem;
    font-size: 1.875rem;
  }
  .newsletter-subtitle {
    padding: 1rem 0 3.125rem;
  }
  .newsletter-form__input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
  }
  .newsletter-form__button {
    width: 4.687rem;
    text-align: center;
  }
  .newsletter-form__button__text {
    color: transparent;
    width: 100%;
    padding: 0;
  }
  .newsletter-form__button__icon {
    color: #fff;
    left: 0;
    right: 0;
  }
  /* ----- End Newsletter ----- */
}
/*****************************************************
 *
 *
 *          MEDIA MIN
 *
 *
 * ****************************************************/
@media only screen and (min-width: 480px) {
  /* ----- Start Review Modal ----- */
  .rm-content {
    width: 28.75rem;
    margin: 0 auto;
  }
  /* ----- End Review Modal ----- */
}
@media only screen and (min-width: 768px) {
  /* ----- Start Review Modal ----- */
  #new-review {
    width: 34.625rem;
    height: 36.5rem;
  }
  .rm-content {
    padding: 1.25rem 7.125rem 3.125rem;
    width: 100%;
  }
  .rm-panel {
    background: #fff;
  }
  .rm-navbar {
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
    padding-top: 3.125rem;
  }
  /* ----- End Review Modal ----- */
}
