html {
  overflow-y: scroll;
}

*, ::after, ::before {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  cursor: default;
}

body {
  font-size: 16px;
  font-family: 'Cormorant', sans-serif;
  line-height: 1;
}


.owl-stage {
  display: flex;
}

.owl-carousel .owl-item {
  height: auto;
  float: none;
}

&.button {
  display: inline-block;
  height: 3rem;
  padding: 0 2.5rem;
  border: 1px solid #111;
  line-height: 3rem;

  &:hover {
    .button__icon {
      transform: translateX(.4rem);
    }
  }

  &__text {
    display: inline-block;
    padding-right: 2.5rem;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    color: #000;
    position: relative;
  }

  &__icon {
    position: absolute;
    right: 0;
    top: .8rem;
    transition: all .3s;

    &:before {
      font-size: .5rem;
    }
  }

}


.container {
  &__text-bgs {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
  }

  &__text-bg {
    position: absolute;
    z-index: -1;

    &_line_position {
      position: relative;
      text-align: center;
      z-index: 1;
    }
  }

  &__text-bg__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 18.75rem;
    line-height: 13rem;
    text-transform: uppercase;
    color: rgba(250, 250, 250, .15);
    letter-spacing: .03em;

    &_size_m {
      font-size: 14.06rem;
      line-height: 11rem;
      display: inline-block;
      margin: 0 1rem;
    }
  }

  &__text-bg_top-position {
    top: 0;
    left: -1rem;
  }

  &__text-bg_bottom-position {
    right: -2.2rem;
    bottom: 0;
  }

}

/* ----- Start Header ----- */

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 10rem;
  border-bottom: 1px solid #E0E0E0;
}

.header-logo {
  &__link {
    display: inline-block;
    text-decoration: none;
    text-align: center;
  }

  &__img {
    max-width: 100%;

    &--mobile {
      display: none;
    }
  }

}


.hamburger-box {
  display: none;
}

.mobile-row {
  flex: 1;
}

.header-search {
  padding-left: 1.375rem;
}

.header-nav {
  padding-left: 3.437rem;
}

.nav {
  display: flex;

  .products-count {
    position: absolute;
    top: -.375rem;
    right: -.1rem;
    width: 1.06rem;
    height: 1.06rem;
    display: block;
    border-radius: 50%;
    background: #49C5B6;
    color: #fff;
    font-size: .56rem;
    text-align: center;
    line-height: 1.06rem;
  }
}

.nav__item {
  margin-right: 1.875rem;
}

.nav__item--lang {
  margin: 1.3rem 1rem 0 0;

  &:last-child {
    margin-right: 0;
  }
}

.header_nav_icons {
  .nav__item {
    margin-right: 2.5rem;
  }
}

.active-language {
  font-weight: 600;
}

.nav__link__icon {
  padding-bottom: .312rem;
  text-align: center;
  position: relative;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;

  &:hover .nav__link__text {
    text-decoration: underline;
  }
}

.nav__link span {
  display: block;
}

.search-form__content {
  border: 1px solid #E0E0E0;
  display: flex;
  align-items: center;
  padding-left: 1.25rem;
  width: 34.687rem;
  transition: border-color .4s;
}

.header-search--focus_on {
  border-color: #111;
}

.search-form__button {
  font-size: 1rem;
  height: 1rem;
  width: 1rem;
  background: transparent;
  border: none;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}

.search-form__input {
  flex: 1;
  padding-left: 1.25rem;
  height: 2.75rem;
  border: none;
  color: #000;
  font-size: 1rem;

  &::placeholder {
    color: #E0E0E0;
    font-size: 1rem;
  }

}

.header-categories {
  padding: 1.5rem 0;
  border-bottom: 1px solid #E0E0E0;
}

.categories-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories-list__item {
  padding-right: 10.25rem;

  &:last-child {
    padding-left: 0;
  }

}

.categories-list__link {
  font-weight: 600;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

/* ----- End Header ----- */


/* ----- Start Products Presentation ----- */

.products-presentation {
  overflow: hidden;


  &__container {
    display: flex;
    justify-content: center;
    background: rgba(178, 223, 219, .75);
    position: relative;
    z-index: 1;
  }

  &__title {
    text-align: center;
    padding: 10rem 0;
  }

  &__title__text {
    color: #FAFAFA;
    font-weight: 500;
    font-size: 3.437rem;
    line-height: 3.75rem;
    text-transform: uppercase;
    padding: 0 2rem;
  }

  &__product {
    padding-top: 2rem;
  }

  &__product-inner {
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-end;
  }

  &__image {
    max-height: 100%;
    width: 50%;

    &.translation_left {
      transform: translateX(-2rem)
    }

    &.translation_right {
      transform: translateX(2rem)
    }
  }

}

/* ----- End Products Presentation ----- */


/* ----- Start Gift Presentation ----- */

.gift-presentation {
  overflow: hidden;

  &__container {
    display: flex;
    margin: 0 -.625rem;
  }

  &__content-box {
    flex: 0 0 50%;
    padding: 0 .625rem;
    box-sizing: border-box;
  }

  &__content-inner {
    height: 100%;
  }

  &__bg {
    height: 100%;
  }

  &__text {
    padding: 3.75rem 10.125rem 3.75rem 6.25rem;
    background: #F2F2F2;
  }

  &__title {

    padding-bottom: 2.5rem;

    &-text {
      font-weight: 500;
      font-size: 3.437rem;
      line-height: 4.125rem;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      color: #111;
    }

  }

  &__excerpt {
    padding-bottom: 3.75rem;

    &-text {
      color: #111;
      font-size: 1rem;
      line-height: 1.625rem;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
    }

  }

  &__link {
    &:hover {
    }

    &-text {
    }

    &-icon {
      &:before {
      }
    }
  }

}

/* ----- End Gift Presentation ----- */


/* ----- Start Products ----- */

.products {
  overflow: hidden;
  padding-top: 1.25rem;

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.625rem;

    &__titles {
      text-align: center;
      color: #111111;
    }

    &__title {
      font-weight: 300;
      font-size: 2.812rem;
      line-height: 3.062rem;
      text-transform: uppercase;
    }

    &__subtitle {
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.25rem;
      font-family: "Open Sans", sans-serif;
      padding-top: 1.25rem;
    }

    &__thumbnail {
      text-align: center;
      padding-top: 1rem;

      img{
        max-height: 100%;
        max-width: 100%;
      }
    }

    &__item {
      flex: 0 0 50%;
    }

    &__item-wrap {
      padding: 0 .625rem 1.25rem;
      height: 100%;
      box-sizing: border-box;
    }

    &__link {
      background: #F2F2F2;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      min-height: 36.25rem;
      padding: 3.125rem 1rem 1rem;
      box-sizing: border-box;
      text-decoration: none;
      transition: all .4s;
      height: 100%;

      &:hover {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
      }
    }
  }

}

/* ----- End Products ----- */


/* ----- Start Footer ----- */

.footer {
  background: #111111;
  padding: 4.375rem 0 2rem;
}

.footer-main {
  width: 71.25rem;
  margin: 0 auto;
}

.footer__privacy-policy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
}

.footer-company {
  flex: 0 0 25%;
}

.footer-copyright__text {
  font-size: .75rem;
  color: #fff;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

.footer-company__text {
  display: block;
  font-size: .75rem;
  color: #fff;
  font-weight: 300;
  padding-top: .5rem;
  font-family: "Open Sans", sans-serif;
}

.footer-menu {
  display: flex;
  justify-content: space-between;

  &__column {
    flex: 0 0 25%;
  }

}

.footer-menu__title {
  padding-bottom: 1.562rem;
}

.footer-menu__title__text {
  font-weight: 600;
  line-height: 1.625rem;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mobile-accordion-icon {
  display: none;
}

.footer-nav__item {
  padding-bottom: .937rem;

  &:last-child {
    padding-bottom: 0;
  }
}

.footer-nav__link {
  font-size: .875rem;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  text-decoration: none;

  &:hover,
  &:hover .footer-nav__link__text {
    text-decoration: underline;
  }
}

.footer-nav__link__text {
  display: inline-block;
  padding-left: .5rem;
}

.footer-nav__link__icon {
  width: 1.5rem;
  display: inline-block;
}

.delivery-information,
.payment-information {
  padding-top: 4.5rem;
}

.delivery-methods,
.payment-methods {
  display: flex;
}

.delivery-methods__item,
.payment-methods__item {
  margin-right: .25rem;

  &:last-child {
    margin-right: 0;
  }
}

/* ----- End Footer ----- */


/* ----- Start Newsletter ----- */

.newsletter {
  overflow: hidden;
}

.newsletter-container {
  background: #FFCDD2;
  padding: 9.375rem 0;
  position: relative;
  z-index: 1;
}

.newsletter-title {
  text-align: center;

  &__text {
    font-weight: 300;
    line-height: 3.06rem;
    font-size: 2.812rem;
    text-transform: uppercase;
    color: #111111;
  }
}

.newsletter-subtitle {
  text-align: center;
  padding: 1.875rem 0 4.375rem;

  &__text {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25rem;
    font-size: 1rem;
    color: #111111;
  }
}

.newsletter-form {

  &__content {
    display: flex;
    justify-content: center;
  }

  &__input {
    height: 3rem;
    width: 18.625rem;
    padding: 0 1.562rem;
    border: 1px solid #111111;
    color: #000;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;

    &::placeholder {
      color: #E0E0E0;
      font-size: 1rem;
    }

  }

  &__button {
    width: 12.125rem;
    height: 3rem;
    background: #111111;
    padding: 0;
    cursor: pointer;
    border: none;

    &__text {
      color: #FFFFFF;
      font-family: 'Open Sans', sans-serif;
      font-size: 1rem;
      text-transform: capitalize;

    }
  }

}

/* ----- End Newsletter ----- */


/* ----- Start Premium products ----- */

.premium-products {
  padding: 9.375rem 0;
  background: #FAFAFA;

  &__title {
    text-align: center;
    padding-bottom: 1.875rem;

    &-text {
      font-weight: 300;
      color: #111;
      font-size: 2.812rem;
      line-height: 3.062rem;
      text-transform: uppercase;
    }
  }

  &__subtitle {
    text-align: center;

    &-text {
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      line-height: 1.25rem;
      color: #111111;
    }
  }

  &__list {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 73.25rem;
  }

  &__item {
    margin: 0 1rem;
    height: 100%;
  }

}

.owl-carousel {

  .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background: #F2F2F2 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;

    &:hover {
      .icon-angle-right,
      .icon-angle-left {
        color: #111;
      }
    }
  }

  .icon-angle-right,
  .icon-angle-left {
    color: #BDBDBD;
    transition: color .3s;
  }

  .owl-prev {
    left: 2.25rem;
  }

  .owl-next {
    right: 2.25rem;
  }
}

.premium-product {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__container {
    background: #fff;
    padding: 1.75rem;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03), 0px -4px 10px rgba(0, 0, 0, 0.03);
    overflow: hidden;
  }

  &__volume {
    padding: 1rem 0;

    &__text {
      font-family: "Open Sans", sans-serif;
      color: #BDBDBD;
      text-transform: uppercase;
      font-size: 0.75rem;
      line-height: 1rem;

    }
  }

  &__title {
    padding-bottom: 1rem;

    &__text {
      font-weight: 300;
      line-height: 1.687rem;
      font-size: 1.562rem;
      text-transform: uppercase;
      color: #111111;
      text-decoration: none
    }
  }

  &__price {

    &__value {
      font-family: "Open Sans", sans-serif;
      line-height: 1.562rem;
      font-size: 1.25rem;
      text-transform: uppercase;
      color: #111111;
      display: block;

      &_old_price {
        font-size: 1rem;
        color: #BDBDBD;
      }
    }
  }
}

.product-buy {
  padding-top: 1rem;


  &__button {
    width: 100%;
    text-align: center;
    background: #49C5B6;
    border: none;

    &-preorder {
      background: #BDBDBD;
    }

    &__text {
      color: #FFFFFF;
    }

    &__icon {
      color: #FFFFFF;
    }
  }
}

.product-make-favorite {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  z-index: 1;
}

.favorite-link {
  width: 1.25rem;
  height: 1.125rem;
  position: relative;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: 0;

  &_active {

    &:after {
      opacity: 1 !important;
    }
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }

  &:before,
  &:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s;
  }

  &:before {
    background: url(../img/icons/like.png) no-repeat;
    background-size: cover;
  }

  &:after {
    background: url(../img/icons/like_active.png) no-repeat;
    background-size: cover;
    opacity: 0;
  }

}

.sale-information {
  width: 6.625rem;
  height: 3.375rem;
  position: absolute;
  text-align: center;
  background: #EF5350;
  transform: rotate(-45.97deg);
  top: -.5rem;
  left: -2.3rem;
}

.sale-number {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1.375rem;
  font-size: 1.125rem;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  display: inline-block;
  padding-top: 1.5rem;
}

.more-products {
  padding-top: 5rem;
  text-align: center;
}

/* ----- End Premium products ----- */


/* ----- Start About product ----- */

.about-product {
  overflow: hidden;
  padding-bottom: 1.25rem;

  &__container {
    display: flex;
    margin: 0 -.625rem;
  }

  &__content-box {
    flex: 0 0 50%;
    padding: 0 .625rem;
    box-sizing: border-box;
  }

  &__content-inner {
    height: 100%;
  }

  &__bg {
    height: 100%;
  }

  &__text {
    padding: 3.75rem 5rem 2.5rem 10rem;
    background: #F2F2F2;
  }

  &__title {

    &-text {
      font-weight: 500;
      font-size: 3.437rem;
      line-height: 4.125rem;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      color: #111;
    }

  }

  &__excerpt {

    &-text {
      color: #111;
      font-size: 1rem;
      line-height: 1.625rem;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      margin-top: 2.5rem;
    }

  }

  .mobile-more-content{
    display: none;
  }

}

/* ----- End About product ----- */


/* ----- Start Our advantages ----- */

.our-advantages {
  background: #C4E6E3;
  position: relative;
  padding: 2.875rem 0 2.5rem;

  &__list {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__item {
    padding: 0 3.375rem;
    text-align: center;
  }
}

.advantage__wrap {

  &-title {
    padding-top: 1.375rem;
  }

}

.advantage__icon {
  max-width: 100%;
}

.advantage__title {
  font-family: "Open Sans", sans-serif;
  line-height: 1.625rem;
  font-size: 1rem;
  color: #111111;
}

/* ----- End Our advantages ----- */

/* ----- Start Reviews ----- */

.reviews {
  padding: 6.25rem 0;
  background: #FAFAFA;

  &__title {
    padding-bottom: 4.875rem;
    text-align: center;

    &-text {
      font-weight: 300;
      line-height: 3.06rem;
      font-size: 2.812rem;
      text-transform: uppercase;
      color: #111111;
    }
  }
}

.vrite-review {
  text-align: center;
  padding-top: 4.375rem;
}

.reviews-slider {
  width: 34.75rem;
  margin: 0 auto;
  position: relative;

  &__item {
    text-align: center;
  }

  .owl-prev {
    left: -5.625rem;
  }

  .owl-next {
    right: -5.625rem;
  }
}

.review-title {
  padding-top: 2.5rem;

  &__text {
    font-weight: 300;
    line-height: 1.625rem;
    font-size: 1.125rem;
    text-transform: uppercase;
    color: #111111;
  }
}

.review-rating {
  padding-top: .625rem;
  display: flex;
  justify-content: center;

  &__icon-wrap {
    margin: 0 .625rem;
  }
}

.review-content {
  padding-top: 2.25rem;

  &__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1.625rem;
    font-size: 1rem;
    color: #111111;
  }
}

/* ----- End Reviews ----- */


/* ----- Start Products slider ----- */
.top-slider {
  background: #FAFAFA;
  overflow: hidden;

  &__container {
    display: flex;

    position: relative;
  }

  &__content-box {
    flex: 0 0 50%;
  }

  &__content-inner {
    position: relative;
  }

  &__quote {
    padding: 13.25rem 0 6.875rem 10rem;

    &__text {
      font-weight: 500;
      line-height: 5.875rem;
      font-size: 5.375rem;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #111111;
    }
  }


}

.products-slider {
  height: 100%;
  position: relative;

  &__container {
    height: 100%;
  }

  &__item {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;

    &.active_slide {
      visibility: visible;
      opacity: 1;
    }
  }

  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &--mobile{
      display: none;
    }
  }

  &__image-wrap {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    padding: 2rem 0;
  }

  &__image {
    display: block;
    max-height: 100%;
  }
}

.scroll-down-button {
  padding: 2.5rem 0 6.25rem;
  text-align: center;

  &__link {
    text-decoration: none;
    display: inline-block;

    &:hover {
      .scroll-down-button__icon {
        transform: translateY(.3rem);
      }
    }
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.125rem;
    font-size: .875rem;
    letter-spacing: 0.03em;
    color: #000000;
    display: block;
  }

  &__icon {
    display: block;
    margin-top: .625rem;
    transition: all .3s;
    position: relative;
  }
}

.slider-controls {
  position: absolute;
  top: 50%;
  right: 10rem;
  transform: translateY(-50%);
  z-index: 2;
  display: flex;
  align-items: center;
}

.slider-page {
  font-weight: 500;
  font-size: 1.562rem;
  color: #111111;
  transition: all .3s;
  margin-left: 1rem;
  cursor: pointer;

  &.active {
    font-size: 4.687rem;
    transform: translateY(-.5rem);
  }
}

/* ----- End Products slider ----- */


/* ----- Start mmenu ----- */

.mm-navbar,
.mm-panels {
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.mm-panel {
  background: #FAFAFA;
}

.hiden-status {
  opacity: 0;
}

.mm-panel {
  padding: 0 20/16rem;
}

.mm-navbar {
  padding: 0;
}

.languages-links {
  &:before {
    content: '';
    display: block;
    width: 100%;
    box-sizing: content-box;
    background: #E5E5E5;
    height: 10/16rem;
    transform: translateY(-1px);
  }

  a {
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 1rem;
      height: 14/16rem;
      right: 20/16rem;
      top: 50%;
      transform: translateY(-50%);
      background: url("../img/icons/check-icon.png") no-repeat center;
      background-size: cover;
      position: absolute;
    }

  }

}

.mm-listitem__text {
  padding: 0 20/16rem;
}

.mmenu-page-logo {
  width: 38/16rem;
  flex: 0 0 39/16rem !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);

  img {
    max-width: 100%;
  }
}

.mm-btn_next:after,
.mm-btn_prev:before {
  width: 9/16rem;
  height: 9/16rem;
}

.mm-btn:after,
.mm-btn:before {
  border-width: 1px;
  border-color: #000;
}

.mm-listitem {
  .mm-btn_next:after,
  .mm-btn_prev:before {
    width: 4/16rem;
    height: 4/16rem;
    right: 20/16rem;
  }
}

.mm-btn_close:after,
.mm-btn_close:before {
  width: 9/16rem;
  height: 9/16rem;
}

.mm-btn_close:before {
  right: 12/16rem;
}

.mm-navbar__title {
  font-size: 30/16rem;
  color: #111 !important;
  text-transform: uppercase;
  font-weight: 300;
}

.mm-menu {
  --mm-navbar-size: 66px;
  --mm-line-height: 58px;
}

.mm-listitem {
  border-color: rgba(128, 128, 128, 0.5);
}

#panel-menu a {
  font-weight: 600;
}

.mm-listitem a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  text-transform: capitalize;
  color: #111 !important;
}

.mm-navbar__btn {
  position: relative;
}

/* ----- End mmenu ----- */

/* ----- Start Review Modal ----- */
.rm {
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 2;
  display: none;

  &-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #FAFAFA;
  }

  &-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20/16rem;
  }

  &-navbar {
    height: 66/16rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    padding: 0 40/16rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    background: #fff;

    &__title {
      text-transform: uppercase;
      color: #111;
      font-size: 28/16rem;
      line-height: 40/16rem;
      width: 100%;
      text-align: center;
    }
  }

  &-btn_close {
    position: relative;
    width: 18/16rem;
    height: 18/16rem;
    display: block;
    position: absolute;
    top: 25/16rem;
    right: 20/16rem;

    &:after,
    &:before {
      content: '';
      width: 9/16rem;
      height: 9/16rem;
      border: 1px solid #000;
      box-sizing: content-box;
      display: block;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      transform: rotate(-45deg);
    }

    &:after {
      border-left: none;
      border-top: none;
      left: 0;
    }

    &:before {
      left: 13/16rem;
      border-right: none;
      border-bottom: none;
    }
  }


  .success-title {
    color: #111;
    font-size: 28/16rem;
    line-height: 40/16rem;
    text-transform: uppercase;
    padding: 38/16rem 0 52/16rem;
  }

  .success-icon {
    img {
      max-width: 100%;
    }
  }
}

.review-form {
  height: 100%;

  .rating {
    padding-bottom: 40/16rem;

    &__title {
      color: #111;
      font-size: 1rem;
      font-family: 'Open Sans', sans-serif;
      padding-bottom: 26/16rem;
    }

    &__fields {
      display: flex;
      justify-content: center;
    }

    &-field {
      position: relative;
      margin: 0 14/16rem;

      input {
        position: absolute;
        visibility: hidden;
      }
    }

    &-label {
      width: 36/16rem;
      height: 35/16rem;
      display: block;
      position: relative;

      &:after,
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background: url(../img/icons/star-default.png) no-repeat center;
        background-size: cover;
        transition: opacity .3s;
      }

      &:after {
        background: url(../img/icons/star-active.png) no-repeat center;
        background-size: cover;
        opacity: 0;
      }
    }
  }

  .active-rating {
    .rating-label {
      &:after {
        opacity: 1;
      }
    }
  }
}

.review-form-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.field-wrapper {
  padding-bottom: 1rem;

  &--flex_height {
    flex: 1;
  }
}

.field-input {
  width: 100%;
  height: 48/16rem;
  border: 1px solid #E0E0E0;
  padding: 0 1rem;
  font-size: 1rem;
  transition: all .3s;

  &:focus {
    border-color: #111;
  }

  &--flex_height {
    height: 100%;
    padding: 1rem;
    resize: none;
  }
}

.add-review {
  width: 100%;
  background: #111111;

  &__link-text {
    color: #fff;
  }
}

#success-msg {
  display: none;
  z-index: 1;
}

#new-review {
  .fancybox-close-small {
    display: none;
  }
}

/* ----- End Review Modal ----- */

/* ----- Start Name ----- */
/* ----- End Name ----- */