@media only screen and (max-width: 1200px) {
  .footer-main {
    width: 100%;
  }


  .footer-menu {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {

  body {
    font-size: 16px !important;
  }

  .wow {
    animation-name: none !important;
    visibility: visible !important;
  }

  .owl-carousel {
    .icon-angle-right,
    .icon-angle-left {
      color: #111;
    }
  }

  /* ----- Start Products Presentation ----- */
  .products-presentation {

    &__container {
      flex-wrap: wrap;
    }

    .container__text-bg {
      display: none;
    }

    &__title {
      padding: 1rem 1.25rem 0;
      order: 1;
      flex: 0 0 100%;
    }

    &__title__text {
      padding: 0;
      font-size: 1.562rem;
      line-height: 1.68rem;
    }

    &__product {
      padding-top: 0;
      flex: 0 0 50%;
      order: 2;
    }

    &__image {
      width: 50%;

      &.translation_left {
        transform: translateX(0)
      }

      &.translation_right {
        transform: translateX(0)
      }
    }
  }

  /* ----- End Products Presentation ----- */
  /* ----- Start Products ----- */
  .products {
    padding-top: .625rem;

    &-list {
      margin: 0 -.312rem;

      &__title {
        font-size: 1rem;
        line-height: 1rem;
      }

      &__subtitle {
        display: none;
      }

      &__thumbnail {
        text-align: center;
        padding-top: 1rem;

        img {
          width: 100%;
        }
      }

      &__item {
        flex: 0 0 50%;
      }

      &__item-wrap {
        padding: 0 .312rem .625rem;
      }

      &__link {
        min-height: 50vw;
        padding: 1.25rem 1.5rem;
        height: 100%;

        &:hover {
          box-shadow: none;
        }
      }
    }

  }

  /* ----- End Products ----- */
  /* ----- Start Gift Presentation ----- */
  .gift-presentation {

    &__container {
      display: block;
      margin: 0;
    }

    &__content-box {
      padding: 0;
    }

    &__content-inner {
      height: 100%;
    }

    &__bg {
      height: 70vw;
    }

    &__text {
      padding: 1.25rem;
    }

    &__title {
      padding-bottom: 1.25rem;

      &-text {
        font-size: 1.562rem;
        line-height: 1.687rem;
      }

    }

    &__excerpt {
      padding-bottom: 1.25rem;
    }

    .choose_gift {
      text-align: center;
      padding-bottom: .625rem;
    }

  }

  /* ----- End Gift Presentation ----- */
  /* ----- Start Our advantages ----- */
  .our-advantages {

    .container__text-bgs {
      display: none;
    }

    &__item {
      padding: 0 2rem;
      flex: 0 0 33.33333%;
    }

    &__list {
      align-items: flex-start;
    }
  }

  .advantage__wrap {
    &-title {
      padding-top: 1.375rem;
    }

  }

  /* ----- End Our advantages ----- */
  /* ----- Start Reviews ----- */
  .reviews {
    padding: 3.125rem 1.125rem 5rem;
    background: #FAFAFA;

    &__title {
      padding-bottom: 2rem;

      &-text {
        line-height: 2.5rem;
        font-size: 1.875rem;
      }
    }
  }

  .vrite-review {
    padding-top: 3.125rem;
  }

  .reviews-slider {
    width: 100%;

    .owl-prev {
      left: 0;
      margin-top: -3rem;
    }

    .owl-next {
      right: 0;
      margin-top: -3rem;
    }
  }

  .review-title {
    padding-top: 1rem;
  }

  .review-content {

    &__text {
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      line-height: 1.625rem;
      font-size: 1rem;
      color: #111111;
    }
  }

  /* ----- End Reviews ----- */
  /* ----- Start Newsletter ----- */
  .newsletter {
    .container__text-bg {
      display: none;
    }
  }

  .newsletter-container {
    padding: 2.5rem 1.125rem;
  }

  /* ----- End Newsletter ----- */
  /* ----- Start Footer ----- */
  .footer {
    background: #111111;
    padding: 0;
  }

  .footer__privacy-policy {
    padding: 1rem 1.25rem;
    background: #000;
  }

  .footer-company {
    flex: 0 0 auto;
    padding-left: .5rem;
  }

  .footer-menu {
    flex-direction: column;
    padding: 2.5rem 1.25rem 1rem;

    &__column {
      flex: 0 0 100%;
    }

  }

  .footer-menu__title {
    padding: .8rem 0;
    position: relative;
  }

  .footer-menu__title.active {
    .mobile-accordion-icon {
      transform: translateY(-50%) rotate(270deg);
    }
  }

  .mobile-accordion-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(90deg);
    transition: all .3s;
    width: .625rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      font-size: .625rem;
      color: #fff;
      display: inline-block;
    }
  }

  .footer-nav {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
  }

  .footer-nav__item {
    padding-bottom: .937rem;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .delivery-information,
  .payment-information {
    padding-top: 0;
  }

  .delivery-methods,
  .payment-methods {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
  }

  .delivery-methods.isOpen,
  .payment-methods.isOpen {
    margin-bottom: 1.5rem;
  }

  .footer-nav.isOpen {
    margin-bottom: 1.5rem;
  }

  /* ----- End Footer ----- */
  /* ----- Start About product ----- */
  .about-product {
    padding-bottom: 0;

    &__container {
      display: flex;
      margin: 0;
      flex-direction: column;
    }

    &__content-box {
      flex: 0 0 auto;
      padding: 0;
      box-sizing: border-box;

      &:nth-child(1) {
        order: 2;
      }

      &:nth-child(2) {
        order: 1;
      }
    }

    &__content-inner {
      height: 100%;
    }

    &__bg {
      height: 70vw;
    }

    &__text {
      padding: 1.25rem 1.25rem 1.875rem;
    }

    &__title {
      &-text {
        font-size: 1.562rem;
        line-height: 1.687rem;
      }
    }

    &__excerpt {
      &-text {
        margin-top: 1.25rem;
      }

      &.full-content{
        p{
          display: block;
        }
      }

      p {
        display: none;

        &:nth-child(1) {
          display: block;
        }
      }
    }

    .mobile-more-content{
      display: block;
      text-align: center;
      padding-top: 20/16rem;
    }

    .btn-mc{
      background: transparent;
      border: none;
      outline: 0;
      position: relative;
      padding: 0;

      &-text{
        display: inline-block;
        padding-right: 28/16rem;
        font-size: 1rem;
        color: #111111;
        font-family: "Open Sans", sans-serif;
      }

      &.isOpened{
        .btn-mc{
          &-icon{
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }
      &-icon{
        position: absolute;
        width: 13/16rem;
        height: 13/16rem;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background: url(../img/icons/rotate-icon.png) no-repeat center;
        background-size: cover;
      }
    }

  }

  /* ----- End About product ----- */
  /* ----- Start Products slider ----- */
  .top-slider {
    padding-bottom: 4.875rem;

    &__content-box {

      &:nth-child(1) {
        flex: 0 0 65%;
      }

      &:nth-child(2) {
        flex: 0 0 35%;
      }
    }

    &__content-inner {
      position: relative;
    }

    &__quote {
      padding: 4.375rem 4.375rem 4.375rem 1.25rem;

      &__text {
        line-height: 2.375rem;
        font-size: 2.187rem;
      }
    }

  }

  .products-slider {
    &__image {
      height: 80%;
    }

    &__bg{
      display: none;

      &--mobile{
        display: block;
      }
    }
  }

  .scroll-down-button {
    display: none;
  }

  .slider-controls {
    height: 2.687rem;
    margin-top: 1.218rem;
    top: 100%;
    right: 0;
    transform: translateY(0);
    justify-content: center;
    width: 100%;
  }

  .slider-page {
    font-size: 1rem;
    margin: 0 .5rem;

    &.active {
      font-size: 2.187rem;
      transform: translateY(-.2rem);
    }
  }

  /* ----- End Products slider ----- */
  /* ----- Start Premium products ----- */
  .premium-products {
    padding: 3.125rem 0;

    &__title {
      text-align: center;
      padding-bottom: 1rem;

      &-text {
        font-size: 1.875rem;
        line-height: 2.5rem;
      }
    }

    &__list {
      padding: 2.5rem .5rem 0;
      width: 100%;
      display: block;
    }

    &__item {
      margin: 0;
      height: 100%;
    }

    .owl-item {
      padding: 0 .5rem;
    }

  }

  .owl-carousel {
    .owl-prev {
      left: 1rem;
    }

    .owl-next {
      right: 1rem;
    }
  }

  .premium-product {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__container {
      padding: 1rem;
    }

    &__volume {
      padding: .5rem 0;

      &__text {
        font-size: 0.625rem;
        line-height: .75rem;
      }
    }

    &__title {
      padding-bottom: .5rem;

      &__text {
        line-height: 1.125rem;
        font-size: 1rem;
      }
    }

    &__price {

      &__value {
        line-height: 1;
        font-size: 1rem;

        &_old_price {
          font-size: .687rem;
          line-height: 1.1;
          color: #BDBDBD;
        }
      }
    }
  }

  .product-buy {
    padding-top: 0;
  }

  .product-make-favorite {
    top: .75rem;
    right: .75rem;
  }

  .favorite-link {
    width: 1.125rem;
    height: 1rem;
  }

  .more-products {
    padding-top: 5rem;
    text-align: center;
  }

  /* ----- End Premium products ----- */
  /* ----- Start Header ----- */
  .header-main {
    flex-wrap: wrap;
    padding: 0;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 2;
  }

  .header-logo {
    padding: 15/16rem 0 15/16rem 20/16rem;

    &__link {
      width: 38/16rem;
    }

    &__img {
      display: none;

      &--mobile {
        display: block;
      }
    }
  }

  .mobile-row {
    flex: 0 0 100%;
    order: 3;

    &__inner {
      display: flex;
      align-items: center;
    }
  }

  .hamburger-box {
    display: block;
    flex: 0 0 auto;
    border-top: 1px solid #E0E0E0;
  }

  .hamburger-button {
    width: 56/16rem;
    height: 46/16rem;
    background: transparent;
    border: none;

    outline: 0;
    padding: 0;
    display: block;
  }

  .hamburger-icon {
    width: 100%;
    height: 100%;
    display: block;
    background: url(../img/icons/burger.png) no-repeat center;
  }

  .company-nav {
    display: none;
  }

  .header-search {
    padding: 0;
    flex: 1;
  }

  .header-nav {
    padding: 0;
  }

  .nav {
    .products-count {
      top: -.5rem;
      right: -.6rem;
    }
  }

  .header-languages {
    display: none;
  }

  .header_nav_icons {
    order: 2;
    padding-right: 20/16rem;

    .nav__item {
      margin: 0 0 0 40/16rem;
    }
  }

  .nav__link__icon {
    padding-bottom: 0;

    & + .nav__link__text {
      display: none;
    }
  }

  .search-form__content {
    border: none;
    border-top: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;
    display: flex;
    padding: 0;
    width: 100%;
  }

  .header-search--focus_on {
    border-color: #E0E0E0;
  }

  .search-form__button {
    order: 2;
    height: 46/16rem;
    width: 48/16rem;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .search-form__input {
    order: 1;
    padding: 0 0 0 20/16rem;
    height: 46/16rem;
    width: 100%;

    &::placeholder {
      color: #E0E0E0;
      font-size: 1rem;
    }

  }

  .header-categories {
    display: none;
  }

  /* ----- End Header ----- */
  .fancybox-slide {
    padding: 0;
  }


}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 560px) {

  /* ----- Start Our advantages ----- */
  .our-advantages {
    padding: .65rem 1.25rem;

    .container__text-bgs {
      display: none;
    }

    &__list {
      display: block;
    }

    &__item {
      padding: .6rem 0;
      text-align: left;
      display: flex;
      align-items: center;
    }
  }

  .advantage__wrap {
    &-title {
      padding: 0 0 0 1.25rem;
    }
  }

  .advantage__wrap-icon {
    flex: 0 0 2rem;
  }

  .advantage__icon {
    max-width: 100%;
  }

  /* ----- End Our advantages ----- */
  /* ----- Start Newsletter ----- */
  .newsletter-title {
    &__text {
      line-height: 2.5rem;
      font-size: 1.875rem;
    }
  }

  .newsletter-subtitle {
    padding: 1rem 0 3.125rem;
  }

  .newsletter-form {

    &__input {
      flex: 1;
      width: 100%;
    }

    &__button {
      width: 4.687rem;
      text-align: center;

      &__text {
        color: transparent;
        width: 100%;
        padding: 0;
      }

      &__icon {
        color: #fff;
        left: 0;
        right: 0;
      }
    }

  }

  /* ----- End Newsletter ----- */
}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 320px) {

}

/*****************************************************
 *
 *
 *          MEDIA MIN
 *
 *
 * ****************************************************/


@media only screen and (min-width: 320px) {


}

@media only screen and (min-width: 480px) {
  /* ----- Start Review Modal ----- */
  .rm {
    &-content {
      width: 460/16rem;
      margin: 0 auto;
    }
  }

  /* ----- End Review Modal ----- */
}

@media only screen and (min-width: 768px) {
  /* ----- Start Review Modal ----- */
  #new-review {
    width: 554/16rem;
    height: 584/16rem;
  }

  .rm {
    &-content {
      padding: 20/16rem 114/16rem 50/16rem;
      width: 100%;
    }

    &-panel {
      background: #fff;
    }

    &-navbar {
      box-shadow: none;
      height: auto;
      padding-top: 50/16rem;
    }
  }

  /* ----- End Review Modal ----- */
}