
<footer class="footer">
  <div class="footer-main">
    <div class="footer-menu">
      <div class="footer-menu__column">
        <div class="footer-menu__column-inner">
          <div class="footer-menu__title"><span class="footer-menu__title__text">Premium products</span><i class="icon-angle-right mobile-accordion-icon"></i></div>
          <ul class="footer-nav">
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">Dragon’s Cut</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">Harald Schatz Wodka</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">Sloe Gin</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">Muscatel Distilled Gin</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-menu__column">
        <div class="footer-menu__column-inner">
          <div class="footer-menu__title"><span class="footer-menu__title__text">KINDS</span><i class="icon-angle-right mobile-accordion-icon"></i></div>
          <ul class="footer-nav">
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">London Dry Gin</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">Plymouth Gin</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">Yellow Gin</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">Jonge</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">Oude</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">Zeer Oude (ZO)</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-menu__column">
        <div class="footer-menu__column-inner">
          <div class="footer-menu__title"><span class="footer-menu__title__text">Company</span><i class="icon-angle-right mobile-accordion-icon"></i></div>
          <ul class="footer-nav">
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">About</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">Contact Us</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">Privacy Policy</a></li>
          </ul>
          <div class="payment-information">
            <div class="footer-menu__title"><span class="footer-menu__title__text">Payment</span><i class="icon-angle-right mobile-accordion-icon"></i></div>
            <div class="payment-methods">
              <div class="payment-methods__item"><a class="payment-methods__link" href="#"><img class="payment-methods__logo" src="img/icons/mastercard.png"/></a></div>
              <div class="payment-methods__item"><a class="payment-methods__link" href="#"><img class="payment-methods__logo" src="img/icons/visa.png"/></a></div>
              <div class="payment-methods__item"><a class="payment-methods__link" href="#"><img class="payment-methods__logo" src="img/icons/paypal.png"/></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-menu__column">
        <div class="footer-menu__column-inner">
          <div class="footer-menu__title"><span class="footer-menu__title__text">Social</span><i class="icon-angle-right mobile-accordion-icon"></i></div>
          <ul class="footer-nav">
            <li class="footer-nav__item"><a class="footer-nav__link icon_link" href="#"><i class="footer-nav__link__icon icon-fb"></i><span class="footer-nav__link__text">Facebook</span></a></li>
            <li class="footer-nav__item"><a class="footer-nav__link icon_link" href="#"><i class="footer-nav__link__icon icon-tw"></i><span class="footer-nav__link__text">Twitter</span></a></li>
            <li class="footer-nav__item"><a class="footer-nav__link icon_link" href="#"><i class="footer-nav__link__icon icon-instagram"></i><span class="footer-nav__link__text">Instagram</span></a></li>
          </ul>
          <div class="delivery-information">
            <div class="footer-menu__title"><span class="footer-menu__title__text">delivery</span><i class="icon-angle-right mobile-accordion-icon"></i></div>
            <div class="delivery-methods">
              <div class="delivery-methods__item"><a class="delivery-methods__link" href="#"><img class="delivery-methods__logo" src="img/icons/delivery_i1.png"/></a></div>
              <div class="delivery-methods__item"><a class="payment-methods__link" href="#"><img class="delivery-methods__logo" src="img/icons/delivery_i2.png"/></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__privacy-policy">
      <div class="footer-copyright">
        <p class="footer-copyright__text">2018 Cubic Dragon. All right reserved</p>
      </div>
      <div class="footer-company"><img class="footer-company__logo" src="img/company_logo.png"/><span class="footer-company__text">developed by</span></div>
    </div>
  </div>
  <div class="rm review-modal" id="new-review">
    <div class="rm-panel" id="new-review-form">
      <div class="rm-navbar">
        <div class="rm-navbar__title">Write a review</div><a class="rm-btn_close rm-close"></a>
      </div>
      <div class="rm-content">
        <form class="review-form">
          <div class="review-form-content">
            <div class="rating">
              <p class="rating__title">Rate it from 1 to 5</p>
              <div class="rating__fields">
                <div class="rating-field">
                  <input type="radio" name="reviewRating" id="rate1" value="1"/>
                  <label class="rating-label" for="rate1"></label>
                </div>
                <div class="rating-field">
                  <input type="radio" name="reviewRating" id="rate2" value="2"/>
                  <label class="rating-label" for="rate2"></label>
                </div>
                <div class="rating-field">
                  <input type="radio" name="reviewRating" id="rate3" value="3"/>
                  <label class="rating-label" for="rate3"></label>
                </div>
                <div class="rating-field">
                  <input type="radio" name="reviewRating" id="rate4" value="4"/>
                  <label class="rating-label" for="rate4"></label>
                </div>
                <div class="rating-field">
                  <input type="radio" name="reviewRating" id="rate5" value="5"/>
                  <label class="rating-label" for="rate5"></label>
                </div>
              </div>
            </div>
            <div class="field-wrapper">
              <input class="field-input" type="text" placeholder="Name" name="authorName"/>
            </div>
            <div class="field-wrapper">
              <input class="field-input" type="text" placeholder="E-mail" name="authorEmail"/>
            </div>
            <div class="field-wrapper field-wrapper--flex_height">
              <textarea class="field-input field-input--flex_height" name="reviewText" placeholder="Write your review"></textarea>
            </div>
            <div class="field-wrapper">
              <button class="button add-review"><span class="button__text add-review__link-text">Write a Review<i class="button__icon add-review__link-icon icon-arrow-right"></i></span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="rm-panel" id="success-msg">
      <div class="rm-content">
        <div class="success-icon"><img src="img/icons/ckeck-icon-large.png" alt="success"/></div>
        <p class="success-title">Your review was successfully sent</p>
        <div class="back-to-reviews"><a class="button to-reviews__link rm-close" href="#"><span class="button__text to-reviews__link-text">Back to Reviews<i class="button__icon to-reviews__link-icon icon-arrow-right"></i></span></a></div>
      </div>
    </div>
  </div>
</footer>