doctype html
html(lang='en')
	
	include pug-templates/head

	body
		.page
			include pug-templates/header

			// start Products slider
			.top-slider
				.top-slider__container
					.top-slider__content-box
						.top-slider__content-inner
							.top-slider__quote
								p.top-slider__quote__text Eat <br>Sleep <br>Gin <br>Repeat

					.top-slider__content-box
						.products-slider#homeProductsSlider
							.products-slider__container
								.products-slider__item
									.products-slider__bg(style='background: url(img/frontpage_products_slider/slide1_bg.jpg); background-size: cover;')
									.products-slider__bg.products-slider__bg--mobile(style='background: #E2E8FE url(img/frontpage_products_slider/slide1_bg-mob.jpg) no-repeat center; background-size: contain;')
									.products-slider__image-wrap
										img(src='img/frontpage_products_slider/product1.png', alt='products image').products-slider__image
								.products-slider__item
									.products-slider__bg(style='background: url(img/frontpage_products_slider/slide2_bg.jpg); background-size: cover;')
									.products-slider__bg.products-slider__bg--mobile(style='background: #F7EDEE url(img/frontpage_products_slider/slide2_bg-mob.jpg) no-repeat center; background-size: contain;')
									.products-slider__image-wrap
										img(src='img/frontpage_products_slider/product2.png', alt='products image').products-slider__image
								.products-slider__item
									.products-slider__bg(style='background: url(img/frontpage_products_slider/slide3_bg.jpg); background-size: cover;')
									.products-slider__bg.products-slider__bg--mobile(style='background: #e1faf7 url(img/frontpage_products_slider/slide3_bg-mob.jpg) no-repeat center; background-size: contain;')
									.products-slider__image-wrap
										img(src='img/frontpage_products_slider/product3.png', alt='products image').products-slider__image
								.products-slider__item
									.products-slider__bg(style='background: url(img/frontpage_products_slider/slide4_bg.jpg); background-size: cover;')
									.products-slider__bg.products-slider__bg--mobile(style='background: #F7F2C8 url(img/frontpage_products_slider/slide4_bg-mob.jpg) no-repeat center; background-size: contain;')
									.products-slider__image-wrap
										img(src='img/frontpage_products_slider/product4.png', alt='products image').products-slider__image
				.scroll-down-button
					a(href='#firstSection').scroll-down-button__link
						span.scroll-down-button__text Scroll down
							i.scroll-down-button__icon.icon-angle-down
			// end Products slider

			// start Product Presentation
			.products-presentation#firstSection
				.products-presentation__container
					.container__text-bg.container__text-bg_top-position
						span.container__text-bg__text CUBIC
					.container__text-bg.container__text-bg_bottom-position
						span.container__text-bg__text DRAGON

					.products-presentation__product
						.products-presentation__product-inner.animated.slideInUp.wow
							img(src='img/products/presentation_product2.png', alt='product').products-presentation__image
							img(src='img/products/presentation_product1.png', alt='product').products-presentation__image.translation_left
					.products-presentation__title
						p.products-presentation__title__text In our bar <br>you will find alcohol <br>to your taste.
					.products-presentation__product
						.products-presentation__product-inner.animated.slideInUp.wow
							img(src='img/products/presentation_product4.png', alt='product').products-presentation__image.translation_right
							img(src='img/products/presentation_product3.png', alt='product').products-presentation__image

			// end Product Presentation

			// start Product List
			.products
				.products-list
					.products-list__item.animated.fadeIn.wow
						.products-list__item-wrap
							a(href="#").products-list__link
								.products-list__titles
									.products-list__title
										p MUSCATEL DISTILLED GIN
									.products-list__subtitle
										p Lorem ipsum dolor sit amet, consectetur adipiscing
								.products-list__thumbnail
									img(src='img/product-categories/product2.png', alt='product')

					.products-list__item.animated.fadeIn.wow
						.products-list__item-wrap
							a(href="#").products-list__link
								.products-list__titles
									.products-list__title
										p DRAGON'S CUT
									.products-list__subtitle
										p Lorem ipsum dolor sit amet, consectetur adipiscing
								.products-list__thumbnail
									img(src='img/product-categories/product1.png', alt='product')

					.products-list__item.animated.fadeIn.wow
						.products-list__item-wrap
							a(href="#").products-list__link
								.products-list__titles
									.products-list__title
										p SLOE GIN
									.products-list__subtitle
										p Lorem ipsum dolor sit amet, consectetur adipiscing
								.products-list__thumbnail
									img(src='img/product-categories/product4.png', alt='product')

					.products-list__item.animated.fadeIn.wow
						.products-list__item-wrap
							a(href="#").products-list__link
								.products-list__titles
									.products-list__title
										p HARALD SCHATZ WODKA
									.products-list__subtitle
										p Lorem ipsum dolor sit amet, consectetur adipiscing
								.products-list__thumbnail
									img(src='img/product-categories/product3.png', alt='product')
			// end Product List

			// start Gift Presentation
			.gift-presentation
				.gift-presentation__container
					.gift-presentation__content-box.animated.slideInLeft.wow
						.gift-presentation__content-inner
							.gift-presentation__bg(style="background: url(img/bgs/gift_presentation__bg.jpg) no-repeat center; background-size: cover;")

					.gift-presentation__content-box.animated.slideInRight.wow
						.gift-presentation__content-inner
							.gift-presentation__text
								.gift-presentation__title
									p.gift-presentation__title-text The best gift for connoisseurs of alcoholic beverages

								.gift-presentation__excerpt
									p.gift-presentation__excerpt-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

								.choose_gift
									a(href='#').button.gift-presentation__link
										span.button__text.gift-presentation__link-text Choose a gift
											i.button__icon.gift-presentation__link-icon.icon-arrow-right

			// end Gift Presentation

			// start Premium Products
			.premium-products
				.premium-products__title
					span.premium-products__title-text Premium drinks
				.premium-products__subtitle
					span.premium-products__subtitle-text Free shipping from HK$60 within HK

				.premium-products__list.owl-carousel.animated.slideInUp.wow#premiumProducts
					.premium-products__item
						.premium-product
							.premium-product__container
								.premium-product__information

									.product-make-favorite
										button.favorite-link

									.premium-product__thumbnail
										a(href="#").premium-product__thumbnail__link
											img(src='img/premium_products/product1.jpg', alt='product').premium-product__thumbnail__image

									.premium-product__volume
										span.premium-product__volume__text 700ml / 40%

									.premium-product__title
										a(href="#").premium-product__title__text DRAGON'S CUT

								.premium-product__price
									span.premium-product__price__value HK$89.90

							.product-buy
								a(href='#').button.product-buy__button
									span.button__text.product-buy__button__text Buy now
										i.button__icon.product-buy__button__icon.icon-arrow-right
					.premium-products__item
						.premium-product
							.premium-product__container
								.premium-product__information

									.sale-information
										span.sale-number -25%

									.product-make-favorite
										button.favorite-link.favorite-link_active

									.premium-product__thumbnail
										a(href="#").premium-product__thumbnail__link
											img(src='img/premium_products/product2.jpg', alt='product').premium-product__thumbnail__image

									.premium-product__volume
										span.premium-product__volume__text 1000ml / 55%

									.premium-product__title
										a(href="#").premium-product__title__text HARALD SCHATZ WODKA

								.premium-product__price
									span.premium-product__price__value.premium-product__price__value_old_price HK$999.999
									span.premium-product__price__value HK$9999.99

							.product-buy
								a(href='#').button.product-buy__button
									span.button__text.product-buy__button__text Buy now
										i.button__icon.product-buy__button__icon.icon-arrow-right


					.premium-products__item
						.premium-product
							.premium-product__container
								.premium-product__information

									.product-make-favorite
										button.favorite-link

									.premium-product__thumbnail
										a(href="#").premium-product__thumbnail__link
											img(src='img/premium_products/product3.jpg', alt='product').premium-product__thumbnail__image

									.premium-product__volume
										span.premium-product__volume__text 700ml / 40%

									.premium-product__title
										a(href="#").premium-product__title__text SLOE GIN

								.premium-product__price
									span.premium-product__price__value HK$37.90

							.product-buy
								a(href='#').button.product-buy__button.product-buy__button-preorder
									span.button__text.product-buy__button__text Preorder
										i.button__icon.product-buy__button__icon.icon-arrow-right

					.premium-products__item
						.premium-product
							.premium-product__container
								.premium-product__information

									.product-make-favorite
										button.favorite-link

									.premium-product__thumbnail
										a(href="#").premium-product__thumbnail__link
											img(src='img/premium_products/product4.jpg', alt='product').premium-product__thumbnail__image

									.premium-product__volume
										span.premium-product__volume__text 700ml / 40%

									.premium-product__title
										a(href="#").premium-product__title__text MUSCATEL DISTILLED GIN

								.premium-product__price
									span.premium-product__price__value HK$35.95

							.product-buy
								a(href='#').button.product-buy__button
									span.button__text.product-buy__button__text Buy now
										i.button__icon.product-buy__button__icon.icon-arrow-right
					.premium-products__item
						.premium-product
							.premium-product__container
								.premium-product__information

									.product-make-favorite
										button.favorite-link

									.premium-product__thumbnail
										a(href="#").premium-product__thumbnail__link
											img(src='img/premium_products/product4.jpg', alt='product').premium-product__thumbnail__image

									.premium-product__volume
										span.premium-product__volume__text 700ml / 40%

									.premium-product__title
										a(href="#").premium-product__title__text MUSCATEL DISTILLED GIN

								.premium-product__price
									span.premium-product__price__value HK$35.95

							.product-buy
								a(href='#').button.product-buy__button
									span.button__text.product-buy__button__text Buy now
										i.button__icon.product-buy__button__icon.icon-arrow-right

				//.more-products
				//	a(href='#').button.more-products__link
				//		span.button__text.more-products__link__text See All
				//			i.button__icon.more-products__link__icon.icon-arrow-right
			// end Premium Products

			// start About Products
			.about-product.hidden-text-box
				.about-product__container
					.about-product__content-box.animated.slideInLeft.wow
						.about-product__content-inner
							.about-product__text
								.about-product__title
									p.about-product__title-text What is gin?

								.about-product__excerpt.hidden-content
									p.about-product__excerpt-text The earliest known written reference to genever appears in the 13th-century encyclopaedic work Der Naturen Bloeme (Bruges), with the earliest printed recipe for genever dating from 16th-century work Een Constelijck Distileerboec (Antwerp).

									p.about-product__excerpt-text The physician Franciscus Sylvius has been falsely credited with the invention of gin in the mid-17th century, although the existence of genever is confirmed in Philip Massinger's play The Duke of Milan (1623), when Sylvius would have been about nine years old. It is further claimed that English soldiers who provided support in Antwerp against the Spanish in 1585, during the Eighty Years' War, were already drinking genever for its calming effects before battle, from which the term Dutch courage is believed to have originated. According to some unconfirmed accounts Gin originated in Italy.

									p.about-product__excerpt-text By the mid-17th century, numerous small Dutch and Flemish distillers had popularized the re-distillation of malt spirit or malt wine with juniper, anise, caraway, coriander, etc., which were sold in pharmacies and used to treat such medical problems as kidney ailments, lumbago, stomach ailments, gallstones, and gout. Gin emerged in England in varying forms by the early 17th century, and at the time of the Restoration, enjoyed a brief resurgence.

								.mobile-more-content
									button(data-text='Show less').btn-mc
										span.btn-mc-text Show More
										icon.btn-mc-icon

					.about-product__content-box.animated.slideInRight.wow
						.about-product__content-inner
							.about-product__bg(style="background: url(img/bgs/about_product.jpg) no-repeat center; background-size: cover;")
			// end About Products

			// start Our Advantages
			.our-advantages.animated.fadeIn.wow
				.our-advantages__container
					
					.container__text-bgs
						span.container__text-bg__text.container__text-bg__text_size_m CUBIC
						span.container__text-bg__text.container__text-bg__text_size_m DRAGON


					.our-advantages__list
						.our-advantages__item
							.advantage__wrap-icon
								img(src='img/icons/advantage_i1.png', alt='product').advantage__icon
							.advantage__wrap-title
								span.advantage__title Free shipping
						.our-advantages__item
							.advantage__wrap-icon
								img(src='img/icons/advantage_i2.png', alt='product').advantage__icon
							.advantage__wrap-title
								span.advantage__title Discounts for regular customers
						.our-advantages__item
							.advantage__wrap-icon
								img(src='img/icons/advantage_i3.png', alt='product').advantage__icon
							.advantage__wrap-title
								span.advantage__title Top quality alcohol
			// end Our Advantages

			// start Reviews

			.reviews.animated.fadeIn.wow
				.reviews-container
					.reviews__title
						span.reviews__title-text Customer Reviews

					.reviews-slider.owl-carousel#reviewsSlider

						.reviews-slider__item
							.review-quote__icon-wrap
								i.review-quote__icon.icon-quote

							.review-title
								span.review-title__text Ozzy Osbourne

							.review-rating
								.review-rating__icon-wrap
									i.review-rating__icon.icon-star
								.review-rating__icon-wrap
									i.review-rating__icon.icon-star
								.review-rating__icon-wrap
									i.review-rating__icon.icon-star
								.review-rating__icon-wrap
									i.review-rating__icon.icon-star
								.review-rating__icon-wrap
									i.review-rating__icon.icon-star

							.review-content
								p.review-content__text Very good gin. I buy not the first time. I advise him to all my friends. It is also a good gift to anyone.

						.reviews-slider__item
							.review-quote__icon-wrap
								i.review-quote__icon.icon-quote

							.review-title
								span.review-title__text Ozzy Osbourne

							.review-rating
								.review-rating__icon-wrap
									i.review-rating__icon.icon-star
								.review-rating__icon-wrap
									i.review-rating__icon.icon-star
								.review-rating__icon-wrap
									i.review-rating__icon.icon-star
								.review-rating__icon-wrap
									i.review-rating__icon.icon-star
								.review-rating__icon-wrap
									i.review-rating__icon.icon-star

							.review-content
								p.review-content__text Very good gin. I buy not the first time. I advise him to all my friends. It is also a good gift to anyone.

						.reviews-slider__item
							.review-quote__icon-wrap
								i.review-quote__icon.icon-quote

							.review-title
								span.review-title__text Ozzy Osbourne

							.review-rating
								.review-rating__icon-wrap
									i.review-rating__icon.icon-star
								.review-rating__icon-wrap
									i.review-rating__icon.icon-star
								.review-rating__icon-wrap
									i.review-rating__icon.icon-star
								.review-rating__icon-wrap
									i.review-rating__icon.icon-star
								.review-rating__icon-wrap
									i.review-rating__icon.icon-star

							.review-content
								p.review-content__text Very good gin. I buy not the first time. I advise him to all my friends. It is also a good gift to anyone.

					.vrite-review
						a(href='#' data-fancybox data-src="#new-review").button.vrite-review__link
							span.button__text.vrite-review__link__text Write a Review
								i.button__icon.vrite-review__link__icon.icon-arrow-right

			// end Reviews

			// start Newsletter
			.newsletter.animated.fadeIn.wow
				.newsletter-container
					.container__text-bg.container__text-bg_top-position
						span.container__text-bg__text CUBIC
					.container__text-bg.container__text-bg_bottom-position
						span.container__text-bg__text DRAGON

					.newsletter-title
						p.newsletter-title__text Newsletter
					.newsletter-subtitle
						p.newsletter-subtitle__text Subscribe to our newsletter and be the first to know all the news

					.newsletter-form
						form
							.newsletter-form__content
								input(type='text', placeholder='Enter your e-mail').newsletter-form__input
								button.button.newsletter-form__button
									span.button__text.newsletter-form__button__text Subscribe
										i.button__icon.newsletter-form__button__icon.icon-arrow-right
			// end Newsletter

			include pug-templates/footer