header.header
    .header-main
        .header-logo
            a(href='#').header-logo__link
                img(src='img/logo.png', alt='Cubic Dragon').header-logo__img
                img(src='img/logo-mobile.png', alt='Cubic Dragon').header-logo__img.header-logo__img--mobile

        .header-nav.company-nav
            ul.nav
                li.nav__item
                    a(href='/').nav__link
                        span.nav__link__text Home
                li.nav__item
                    a(href='/').nav__link
                        span.nav__link__text Products
                li.nav__item
                    a(href='#').nav__link
                        span.nav__link__text About
                li.nav__item
                    a(href='#').nav__link
                        span.nav__link__text Contact us

        .mobile-row
            .mobile-row__inner
                .hamburger-box
                    a(href='#mmenu').hamburger-button
                        i.hamburger-icon

                .header-search
                    form.search-form
                        .search-form__content
                            button.search-form__button.icon-search
                            input(type='text', placeholder='Search').search-form__input

        .header-languages
            ul.nav
                li.nav__item.nav__item--lang
                    a(href='/').nav__link.active-language
                        span.nav__link__text EN
                li.nav__item.nav__item--lang
                    a(href='#').nav__link
                        span.nav__link__text DE
                li.nav__item.nav__item--lang
                    a(href='#').nav__link
                        span.nav__link__text ZH

        .header-nav.header_nav_icons
            ul.nav
                li.nav__item
                    a(href='/').nav__link
                        span.nav__link__icon.icon-heart
                        span.nav__link__text Wishlist
                li.nav__item
                    a(href='#').nav__link
                        span.nav__link__icon.icon-person
                        span.nav__link__text Account
                li.nav__item
                    a(href='#').nav__link
                        span.nav__link__icon.icon-cart
                            span.products-count 999
                        span.nav__link__text Cart

        .mobile-menu#mmenu
            ul#panel-menu.mobile-nav
                li
                    span Company
                    ul
                        li
                            a(href='#') Home
                        li
                            a(href='#') Products
                        li
                            a(href='#') About
                        li
                            a(href='#') Contact us
                li
                    span Categories
                    ul
                        li
                            a(href='#') Muscatel Distilled Gin
                        li
                            a(href='#') Dragon's cut
                        li
                            a(href='#') Sloe Gin
                        li
                            a(href='#') Harald Schatz Wodka
                li.languages-links
                    a(href='#') ENGLISH
                li
                    a(href='#') GERMAN
                li
                    a(href='#') CHINESE


    .header-categories
        ul.categories-list
            li.categories-list__item
                a(href='/').categories-list__link MUSCATEL DISTILLED GIN
            li.categories-list__item
                a(href='#').categories-list__link DRAGON'S CUT
            li.categories-list__item
                a(href='#').categories-list__link SLOE GIN
            li.categories-list__item
                a(href='#').categories-list__link HARALD SCHATZ WODKA

