head
	meta(charset="utf-8")
	meta(http-equiv='X-UA-Compatible', content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title Cubic Dragon 
	
	link( rel="stylesheet", type="text/css", href="libs/animate-css/animate.css")
	link( rel="stylesheet", type="text/css", href="libs/owl/assets/owl.carousel.min.css")
	link( rel="stylesheet", type="text/css", href="libs/icomoon/style.css")
	link( rel="stylesheet", type="text/css", href="libs/mmenu/jquery.mmenu.all.css")
	link( rel="stylesheet", type="text/css", href="libs/fancybox/fancybox.min.css")
	link( rel="stylesheet", type="text/css", href="css/fonts.css")
	link( rel="stylesheet", type="text/css", href="css/general.css")  

	link( rel="stylesheet", type="text/css", href="css/main.css")  
	link( rel="stylesheet", type="text/css", href="css/mozilla.css")  
	link( rel="stylesheet", type="text/css", href="css/edge.css")  

	link( rel="stylesheet", type="text/css", href="css/media.css")
	
	script(type="text/javascript", src="libs/jquery/jquery-1.11.1.min.js")
	script(type="text/javascript", src="libs/owl/owl.carousel.min.js")
	script(type="text/javascript", src="libs/wow/wow.js")
	script(type="text/javascript", src="libs/mmenu/jquery.mmenu.all.js")
	script(type="text/javascript", src="libs/fancybox/fancybox.min.js")
	script(type="text/javascript", src="js/main.js")