@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3pj4bh');
  src:  url('fonts/icomoon.eot?3pj4bh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3pj4bh') format('truetype'),
    url('fonts/icomoon.woff?3pj4bh') format('woff'),
    url('fonts/icomoon.svg?3pj4bh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-left:before {
  content: "\e90c";
}
.icon-quote:before {
  content: "\e909";
}
.icon-star:before {
  content: "\e90a";
}
.icon-angle-right:before {
  content: "\e90b";
}
.icon-instagram:before {
  content: "\e906";
  color: #fff;
}
.icon-fb:before {
  content: "\e907";
  color: #fff;
}
.icon-tw:before {
  content: "\e908";
  color: #fff;
}
.icon-angle-down:before {
  content: "\e90d";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-like:before {
  content: "\e904";
}
.icon-heart:before {
  content: "\e901";
}
.icon-cart:before {
  content: "\e900";
}
.icon-person:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
